<% include ./header_biz %> 

    <div class="mainWrapper bizTheme">
        <section id="Home" class="pageSec bannerSec bannerBiz">
            <div class="bannerBlock">
                <div class="container">
                    <div class="bannerCntBlk">
                        <div class="bannerCnt bizCnt">
                            <h1>Manage and grow your Hair & Beauty business seamlessly!</h1>
                            <p>A fully comprehensive Business & Booking Management + Marketing platform designed to entice new customers, provide the best customer service and most importantly, Make More Money!</p>
                            <div class="storeImg">
                                <a href="https://apps.apple.com/us/app/id1360296200" target="_blank"><img src="/front/images/biz-app-store.png"></a>
                                <a href="https://play.google.com/store/apps/details?id=com.koobibiz.app" target="_blank" ><img src="/front/images/biz-play-store.png"></a>
                            </div>
                        </div>
                        <div class="bannerImg">
                            <div class="phoneImg">
                                <img src="/front/images/screen/phone1.png">
                            </div>
                            <div class="home_screen_slide mobile-slider">
                                <div class="single_screen_slide owl-carousel owl-theme">
                                    <div class="item"><img src="/front/images/screen/screens/biz/1.jpg" alt=""></div>
                                    <div class="item"><img src="/front/images/screen/screens/biz/2.jpg" alt=""></div>
                                    <div class="item"><img src="/front/images/screen/screens/biz/3.jpg" alt=""></div>
                                    <div class="item"><img src="/front/images/screen/screens/biz/4.jpg" alt=""></div>
                                    <div class="item"><img src="/front/images/screen/screens/biz/5.jpg" alt=""></div>
                                    <div class="item"><img src="/front/images/screen/screens/biz/6.jpg" alt=""></div>
                                    <div class="item"><img src="/front/images/screen/screens/biz/7.jpg" alt=""></div>
                                    <div class="item"><img src="/front/images/screen/screens/biz/8.jpg" alt=""></div>
                                    <div class="item"><img src="/front/images/screen/screens/biz/9.jpg" alt=""></div>
                                    <div class="item"><img src="/front/images/screen/screens/biz/10.jpg" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="AboutUs" class="pageSec aboutUs sec-pad-t-50 pb-20">
            <div class="container">
                <div class="secHead text-center">
                    <h2><b>KOOBI<span>BIZ</span></b></h2>
                </div>
                <div class="aboutInfo bizAbout">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="aboutItem">
                                <div class="aboutIcon">
                                    <span><img src="/front/images/biz_ico_1.png"></span>
                                </div>
                                <h3>Operate a business Independently or with Multiple Staff</h3>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="aboutItem">
                                <div class="aboutIcon">
                                    <span><img src="/front/images/biz_ico_2.png"></span>
                                </div>
                                <h3>Card or Cash Payments</h3>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="aboutItem">
                                <div class="aboutIcon">
                                    <span><img src="/front/images/biz_ico_3.png"></span>
                                </div>
                                <h3>Online Bookings Or Walk in Customers</h3>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="aboutItem">
                                <div class="aboutIcon">
                                    <span><img src="/front/images/biz_ico_4.png"></span>
                                </div>
                                <h3>In-Call or Out-Call Services</h3>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="aboutItem">
                                <div class="aboutIcon">
                                    <span><img src="/front/images/biz_ico_5.png"></span>
                                </div>
                                <h3>Manually or Auto accept booking request</h3>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="aboutItem">
                                <div class="aboutIcon">
                                    <span><img src="/front/images/biz_ico_31.png"></span>
                                </div>
                                <h3>Flexible working hours</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="AboutUs" class="pageSec aboutUs sec-pad-t-50 pb-30">
            <div class="container">
                <div class="secHead text-center">
                    <h2>About Us</h2>
                </div>
                <div class="aboutInfo bizAbout">
                    <div class="socialAboutUs">
                        <p>Koobi Biz is a revolutionary new application for aspiring or existing Hair & Beauty specialists who are wanting to start or grow their business. Koobi Biz offers you an exclusive marketing platform that integrates the best of current social media capabilities, along with a fully comprehensive booking & management system to help you increase customer acquisition and retention. Whereby, users are able to engage on a social platform, showcase their work, manage appointments, and have access to CRM and marketing tools to promote their services directly to potential customers who fall within their target group.</p>

                        <p>The engineers of Koobi have thoughtfully designed you an intuitive user Interface and packed it with features to make your professional life significantly easier and more worthwhile. Koobi Biz takes into consideration all aspects of your business and offers a bespoke solution to help you maintain the constant progression of your Hair & Beauty business or Carer. Koobi biz provides you with all the necessary tools to ensure full, hassle free control of your business operations, assisting you to provide the best customer service achieving 100% customer satisfaction and overall, To Make More Money!</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="Features" class="pageSec featuresSec sec-pad-t-50 pb-20">
            <div class="container">
                <div class="secHead text-center">
                    <h2>Features Of <b>KOOBI<span>BIZ</span></b></h2>
                </div>
                <div class="featuresBlock">
                    <div class="featrsItem">
                        <div class="row justify-content-center">
                            <div class="col-lg-5 col-md-6">
                                <div class="aboutItem">
                                    <div class="aboutIcon">
                                        <span><img src="/front/images/biz_ico_7.png"></span>
                                    </div>
                                    <h3>Flexible Business Operation</h3>
                                    <ul class="featuresList">
                                        <li>Set your working Days/ hours</li>
                                        <li>Customers can select their suited appointment times from your availabilities</li>
                                        <li>Save yourself from having to answer to 100s of calls and emails on a weekly basis</li>
                                    </ul>
                                </div>
                                <div class="aboutItem">
                                    <div class="aboutIcon">
                                        <span><img src="/front/images/biz_ico_8.png"></span>
                                    </div>
                                    <h3>Booking Management Dashboard</h3>
                                    <ul class="featuresList">
                                        <li>Stay up to date with your appointments and work according to schedule</li>
                                        <li>View appointments by date, by pending completion and by completed appointments</li>
                                        <li>View any cancelled appointments so you can reschedule at a more appropriate date and time</li>
                                        <li>Manually accept ‘Booking Requests’ on the Booking Dashboard by changing your booking request settings</li>
                                        <li>Make manual appointments for those who don't book online</li>
                                        <li>Admin and staff biz accounts so staff are also up to date with all their bookings</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="featuresImg">
                                    <div class="">
                                        <img src="/front/images/biz_features_new1.png">
                                    </div>
                                    <div class="">
                                        <img src="/front/images/biz_features_new2.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="featrsItem">
                        <div class="row justify-content-center">
                            <div class="col-lg-6 col-md-6">
                                <div class="featuresImg">
                                    <div class="">
                                        <img src="/front/images/biz_features_new3.png">
                                    </div>
                                    <div class="">
                                        <img src="/front/images/biz_features_new4.png">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6">
                                <div class="aboutItem">
                                    <div class="aboutIcon">
                                        <span><img src="/front/images/biz_ico_9.png"></span>
                                    </div>
                                    <h3>Flexible Payments</h3>
                                    <ul class="featuresList">
                                        <li>Set your payment type to cash only</li>
                                        <li>Set your payment type to card only</li>
                                        <li>Set your payment type to both so you can receive cash and card bookings</li>
                                    </ul>
                                </div>
                                <div class="aboutItem">
                                    <div class="aboutIcon">
                                        <span><img src="/front/images/biz_ico_10.png"></span>
                                    </div>
                                    <h3>Business Analytics</h3>
                                    <ul class="featuresList">
                                        <li>Monitor your sales by keeping track of your day totals</li>
                                        <li>Sales comparison by day, week, month and custom to measure your business health</li>
                                        <li>Cash & or Card payment totals to see what your customers prefer</li>
                                        <li>Online vs offline bookings to monitor your marketing effectivity</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="featrsItem">
                        <div class="row justify-content-center">
                            <div class="col-lg-5 col-md-6">
                                <div class="aboutItem">
                                    <div class="aboutIcon">
                                        <span><img src="/front/images/biz_ico_4.png"></span>
                                    </div>
                                    <h3>In-call / outcall</h3>
                                    <ul class="featuresList">
                                        <li>Offer your services in-call and or outcall</li>
                                        <li>Real-time notification of client arrival</li>
                                        <li>Work according to your selected area</li>
                                        <li>Maximize business by offering your services to a larger customer base</li>
                                    </ul>
                                </div>
                                <div class="aboutItem">
                                    <div class="aboutIcon">
                                        <span><img src="/front/images/biz_ico_11.png"></span>
                                    </div>
                                    <h3>Business Management</h3>
                                    <ul class="featuresList">
                                        <li>Business information</li>
                                        <li>Update your services and prices</li>
                                        <li>Set operation hours</li>
                                        <li>Set offers and discounts</li>
                                        <li>Set up payment info</li>
                                        <li>Add your qualifications </li>
                                        <li>Check and reply to Reviews</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="featuresImg">
                                    <div class="">
                                        <img src="/front/images/biz_features_new5.png">
                                    </div>
                                    <div class="">
                                        <img src="/front/images/biz_features_new6.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="featrsItem">
                        <div class="row justify-content-center">
                            <div class="col-lg-6 col-md-6">
                                <div class="featuresImg">
                                    <div class="">
                                        <img src="/front/images/biz_features_new7.png">
                                    </div>
                                    <div class="">
                                        <img src="/front/images/biz_features_new8.png">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6">
                                <div class="aboutItem">
                                    <div class="aboutIcon">
                                        <span><img src="/front/images/biz_ico_12.png"></span>
                                    </div>
                                    <h3>Staff Management</h3>
                                    <ul class="featuresList">
                                        <li>Set up staff profiles and add their working hours with ease</li>
                                        <li>Add or remove offered services by your staff</li>
                                        <li>Monitor staff bookings</li>
                                        <li>Set whether your staff work for you in-call, out call or both</li>
                                        <li>Allocate Staff Holidays so customers don't book with them while being away</li>
                                        <li>Communicate with staff individually or in group chat</li>
                                    </ul>
                                </div>
                                <div class="aboutItem">
                                    <div class="aboutIcon">
                                        <span><img src="/front/images/biz_ico_13.png"></span>
                                    </div>
                                    <h3>Marketing</h3>
                                    <ul class="featuresList">
                                        <li>Full Access social platform to reach out to customers in your area</li>
                                        <li>Post service tagged images after completing each appointment so customers can book with one click!</li>
                                        <li>Have your work showcased to people in your area to inspire customers to book</li>
                                        <li>Maximize business by posting offers & discounts on your Story and fill up any appointment gaps</li>
                                    </ul>
                                </div>
                                <div class="aboutItem">
                                    <div class="aboutIcon">
                                        <span><img src="/front/images/biz_ico_26.png"></span>
                                    </div>
                                    <h3>In App Communication</h3>
                                    <ul class="featuresList">
                                        <li>Choose to communicate with colleagues & customers via Chat with either individual, group chat or broadcast messages </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="" class="pageSec koobiAmbassador becomeAmbass sec-pad-t-50 pb-10">
            <div class="container">
                <div class="secHead text-center">
                    <h2>Become An <span>Official KOOBI Ambassador</span> In 5 Easy Steps</h2>
                </div>
                <div class="aboutInfo bizAbout">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="aboutItem">
                                <div class="aboutIcon">
                                    <span><img src="/front/images/biz_ico_21.png"></span>
                                </div>
                                <h3>1. Sign up on Koobi biz (business and services details required)</h3>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="aboutItem">
                                <div class="aboutIcon">
                                    <span><img src="/front/images/biz_ico_22.png"></span>
                                </div>
                                <h3>2. Post 10 service tag images</h3>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="aboutItem">
                                <div class="aboutIcon">
                                    <span><img src="/front/images/biz_ico_23.png"></span>
                                </div>
                                <h3>3. Complete 15 bookings through Koobi</h3>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="aboutItem">
                                <div class="aboutIcon">
                                    <span><img src="/front/images/biz_ico_24.png"></span>
                                </div>
                                <h3>4. Receive Ten 5 star reviews for services on Koobi</h3>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="aboutItem">
                                <div class="aboutIcon">
                                    <span><img src="/front/images/biz_ico_25.png"></span>
                                </div>
                                <h3>5. Complete these steps then email us on contact@koobi.co.uk with your Koobi username, business email and contact number. You then will be entered for Koobi ambassador selection process once we receive your email after completing steps 1-4. Thank You.</h3>
                            </div>
                        </div>
                    </div>
                    <div class="aboutPara text-center">
                        <p>PLEASE NOTE: We are offering limited Ambassador positions, a total of 50 throughout the platform, the first 100 service providers to complete steps 1-5 will be entered into the selection process.</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="" class="pageSec koobiAmbassador sec-pad-50">
            <div class="container">
                <div class="secHead text-center">
                    <h2>Why Become An <span>Official KOOBI Ambassador?</span></h2>
                </div>
                <div class="aboutInfo bizAbout">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="aboutItem">
                                <div class="aboutIcon">
                                    <span><img src="/front/images/biz_ico_26.png"></span>
                                </div>
                                <h3>1 to 1 support</h3>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="aboutItem">
                                <div class="aboutIcon">
                                    <span><img src="/front/images/biz_ico_27.png"></span>
                                </div>
                                <h3>Exclusive promotions</h3>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="aboutItem">
                                <div class="aboutIcon">
                                    <span><img src="/front/images/biz_ico_28.png"></span>
                                </div>
                                <h3>Invitations to exclusive events</h3>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="aboutItem">
                                <div class="aboutIcon">
                                    <span><img src="/front/images/biz_ico_29.png"></span>
                                </div>
                                <h3>0% charge on cash transactions <span>(5% for general users)</span></h3>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="aboutItem">
                                <div class="aboutIcon">
                                    <span><img src="/front/images/biz_ico_30.png"></span>
                                </div>
                                <h3>5% charge on card transactions <span>(10% for general users)</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="Screenshots" class="pageSec screenshot-slider sec-pad-t-50 pb-30 darkgray-bg">
            <div class="container">
                <div class="secHead text-center">
                    <h2><b>KOOBI<span>BIZ</span></b> Screenshots</h2>
                    <p>Manage & Grow Your Business Seamlessly!</p>
                </div>
                <div class="owl-carouselNew owl-carousel owl-theme mt-40">
                    <div class="item"><img src="/front/images/screen/screens/biz/1.jpg" alt=""></div>
                    <div class="item"><img src="/front/images/screen/screens/biz/2.jpg" alt=""></div>
                    <div class="item"><img src="/front/images/screen/screens/biz/3.jpg" alt=""></div>
                    <div class="item"><img src="/front/images/screen/screens/biz/4.jpg" alt=""></div>
                    <div class="item"><img src="/front/images/screen/screens/biz/5.jpg" alt=""></div>
                    <div class="item"><img src="/front/images/screen/screens/biz/6.jpg" alt=""></div>
                    <div class="item"><img src="/front/images/screen/screens/biz/7.jpg" alt=""></div>
                    <div class="item"><img src="/front/images/screen/screens/biz/8.jpg" alt=""></div>
                    <div class="item"><img src="/front/images/screen/screens/biz/9.jpg" alt=""></div>
                    <div class="item"><img src="/front/images/screen/screens/biz/10.jpg" alt=""></div>
                </div>
            </div>
        </section>
        <section id="ContactUs" class="pageSec contactSec sec-pad-t-50 pb-20">
            <div class="contactBlock">
                <div class="container">
                    <div class="secHead text-center">
                        <h2>Contact Us</h2>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-3">
                            <div class="aboutItem">
                                <div class="aboutIcon">
                                    <span><img src="/front/images/biz_ico_18.png"></span>
                                </div>
                                <h3>info@koobi.co.uk</h3>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="aboutItem">
                                <div class="aboutIcon">
                                    <span><img src="/front/images/biz_ico_19.png"></span>
                                </div>
                                <h3>Unit 3, Edelle Business Park, Quebec Street, Oldham OL9 6QJ</h3>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="aboutItem">
                                <div class="aboutIcon">
                                    <span><img src="/front/images/biz_ico_20.png"></span>
                                </div>
                                <h3>+447888899991</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
         <% include ./footer_new %> 
