<html>
    <head>
        <title>Coming Soon</title>
        <style>
    @import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800');
/*    body{
        background:#061627 !important;
    }*/
    /*font-family: 'Nunito', sans-serif;*/
        .commingSoon {
            /*background: #1bd3c9;*/
            background:#061627 url("/front/img/bg_commingsoon.png");
                background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
/*  background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgba(248, 50, 114, 1) 0%, rgba(63, 142, 252, 1) 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(45deg, rgba(248, 50, 114, 1) 0%, rgba(63, 142, 252, 1) 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(45deg, rgba(248, 50, 114, 1) 0%, rgba(63, 142, 252, 1) 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) -o-linear-gradient(45deg, rgba(248, 50, 114, 1) 0%, rgba(63, 142, 252, 1) 100%) repeat scroll 0 0;*/
    overflow: hidden;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.text{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}
.commingSoon h2 {
    color: #1bd3c9;
    font-size: 32px;
    font-family: 'Nunito', sans-serif;
    margin-top: 50px;
    font-weight: 600;
}
.text img {
    width: 100%;
    max-width: 260px;
}
        </style>
        <link rel="icon" href="/front/img/favicon.png" type="image/png">
    </head>
    <body class="commingSoon">
        <div class="text">
            <img src="/front/img/coming_koobi.png">
            <h2>A revolution is coming...</h2>
        </div>
    </body>
</html>
