<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/frontNew/images/favicon.ico" type="image/icon" sizes="16x16">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/frontNew/css/bootstrap.min.css">
    <link rel="stylesheet" href="/frontNew/css/fontawesome.all.min.css">
    <link rel="stylesheet" href="/frontNew/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/frontNew/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/frontNew/css/style.css">
    <link rel="stylesheet" href="/frontNew/css/responsive.css">
    <title>Koobi</title>
</head>

<body>
    <header class="mainHeader">
        <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="/frontNew/images/logo-w.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mainMenu">
                        <li class="nav-item active">
                            <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#aboutUs">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#features">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#screenshots">Screenshots</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#contactUs">Contact</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section id="home" class="banner dewo overlay-bg">
        <div class="container text-white">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                    <div class="bannerCnt">
                        <h1>Book appointments with a wide range of health & beauty professionals</h1>
                        <p>Koobi is a beautifully designed platform that enables you to discover, compare and book the best Hair & Beauty service providers near you. All done simply, effortlessly and efficiently at your fingertips.</p>
                        <div class="downloadApp">
                            <a href=""><img src="/frontNew/images/appstore.png"></a>
                            <a href=""><img src="/frontNew/images/playstore.png"></a>
                        </div>
                    </div>
                </div>
                <div class="d-none d-lg-block col-md-4">
                    <div class="home_screen_slide">
                        <div class="single_screen_slide owl-carousel owl-theme">
                            <div class="item"><img src="/frontNew/images/screen/social/screen1.jpg" alt=""></div>
                            <div class="item"><img src="/frontNew/images/screen/social/screen2.jpg" alt=""></div>
                            <div class="item"><img src="/frontNew/images/screen/social/screen3.jpg" alt=""></div>
                            <div class="item"><img src="/frontNew/images/screen/social/screen4.jpg" alt=""></div>
                            <div class="item"><img src="/frontNew/images/screen/social/screen5.jpg" alt=""></div>
                        </div>
                    </div>
                    <div class="home_screen_nav">
                        <span class="ti-angle-left testi_prev"></span>
                        <span class="ti-angle-right testi_next"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="aboutUs" class="aboutSec sec-pad-70 darkgray-bg">
        <div class="container">
            <div class="section-head text-center">
                <h4>About Koobi</h4>
                <p>Koobi for Customers is a FREE booking system for people looking to schedule appointments for health & beauty services.</p>
            </div>
            <div class="whyWeCnt mt-40">
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <div class="aboutImg">
                            <img src="/frontNew/images/about_us.png">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-12">
                        <div class="text-block-custom section-inner-head">
                            <h3>With koobi, you can access the booking pages of your favorite businesses anytime you want.</h3>
                            <p class="paraText">Book appointments with a wide range of health & beauty professionals: hair and nail specialists, barbers, tattoo and makeup artists as well as spa specialists service providers. With koobi, you can access the booking pages of your favorite businesses anytime you want, check out all the services your they have to offer, and easily book any available appointment.</p>
                            <p class="paraText">Koobi is a beautifully designed platform that enables you to discover, compare and book the best Hair & Beauty service providers near you. All done simply, effortlessly and efficiently at your fingertips.</p>
                            <ul class="list-style-one">
                                <li><i class="fas fa-check"></i> Real-time availability - check appointment and get a booking confirmation immediately after scheduling an appointment</li>
                                <li><i class="fas fa-check"></i> Appointment management - cancel your appointment without having to call the business</li>
                                <li><i class="fas fa-check"></i> Explore -  tab has a bevy of business categories at the top of the screen to help you find the type of content you enjoy most.</li>
                                <li><i class="fas fa-check"></i> Story- Add photos and videos to your story that disappear after 24 hours, and bring them to life with fun creative tools.</li>
                                <li><i class="fas fa-check"></i>  Chat - Message your friends in Direct. Start fun conversations about what you see on feed and Stories.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="features" class="features-section pos-relative sec-pad-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="section-head text-left full-section-title">
                        <h4>Features of Koobi</h4>
                        <p>Online booking - 24 hours online and in-app booking for businesses near you. Customers can book any incall/outcall services from searchboard. Here are the step to book artist services</p>
                    </div>
                    <p class="paraText">My bookings - see what you’ve booked before by clicking the My booking section
                        <br>
                    1. Upcoming: here we display bookings whose booking status is "under progress"
                    <br>
                    2. Completed : here we display bookings which were completed by the Artist/user
                    <br>
                    3. Cancelled: here we displays bookings which were cancelled by the Artist/user
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="fas fa-user-check"></i>
                        </div>
                        <h3>Search <span>Artist</span></h3>
                        <p>Find available businesses in your area; then compare prices, business hours and verified reviews</p>
                    </div>
                    <div class="service-item service-item1">
                        <div class="service-icon">
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                        <h3>Booking</h3>
                        <p>See what you’ve booked before by clicking the My booking section 
                        Upcoming, Completed & Cancelled.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item service-item2">
                        <div class="service-icon">
                            <i class="fas fa-search"></i>
                        </div>
                        <h3>Explore</h3>
                        <p>Tab has a bevy of business categories at the top of the screen to help you find the type of content you enjoy most.</p>
                    </div>
                    <div class="service-item service-item3">
                        <div class="service-icon">
                            <i class="fas fa-camera-retro"></i>
                        </div>
                        <h3>Feeds & <span>Story</span></h3>
                        <p>Post photos and videos to your feed that you want to show on your profile. Add photos and videos to your story that disappear after 24 hours, and bring them to life with fun creative tools.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="screenshots" class="screenshot-slider sec-pad-70 darkgray-bg">
        <div class="container">
            <div class="section-head text-center">
                <h4>Koobi Screenshots</h4>
                <p>Discover and book beauty and wellness appointments whenever, wherever, with Koobi !</p>
            </div>
            <div class="owl-carouselNew owl-carousel owl-theme mt-40">
                <div class="item"><img src="/frontNew/images/screen/screeenshots/social/screen1.jpg" alt=""></div>
                <div class="item"><img src="/frontNew/images/screen/screeenshots/social/screen2.jpg" alt=""></div>
                <div class="item"><img src="/frontNew/images/screen/screeenshots/social/screen3.jpg" alt=""></div>
                <div class="item"><img src="/frontNew/images/screen/screeenshots/social/screen4.jpg" alt=""></div>
                <div class="item"><img src="/frontNew/images/screen/screeenshots/social/screen5.jpg" alt=""></div>
            </div>
        </div>
    </section>
<!--     <section id="contactUs" class="sec-pad-70">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="subscribeSec text-center">
                        <img src="images/email.png" alt="email">
                        <h2 class="subscribeTitle">subscribe to <span>newsletter</span></h2>
                        <p class="paraText"> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                        <form method="post" action="#" class="footer-form">
                            <div class="form-group">
                                <input name="EMAIL" id="mce-EMAIL" placeholder="Your email address:" type="email" required="required" class="form-control">
                            </div>
                            <div class="form-button">
                                <button type="submit" class="btn btn-custom theme-color">send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <footer class="black-bg footerSec">
        <div class="container">
            <div class="text-white wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <div class="d-flex justify-content-between flex-column flex-md-row align-items-center">
                    <div class="copyright">
                        <p>&copy; Copyright 2019 <a href="#">Koobi</a> all rights reserved.</p>
                    </div>
                    <div class="social-menu">
                        <a href="#"><span class="fab fa-facebook-f"></span></a>
                        <a href="#"><span class="fab fa-twitter"></span></a>
                        <a href="#"><span class="fab fa-linkedin-in"></span></a>
                        <a href="#"><span class="fab fa-instagram"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/frontNew/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="/frontNew/js/bootstrap.min.js"></script>
    <script src="/frontNew/js/owl.carousel.min.js"></script>
    <script src="/frontNew/js/custom.js"></script>
</body>

</html>