      <%

  if(feedData.length>0){
   feedData.forEach(function(rs) { %>
   <div class="feedData">
        <div class="feedHead">
        <div class="fHleft float-left">
            <a href="/profile?id=<%= cryptr.encrypt(rs.userInfo[0]._id); %>">
            <img src="<%= rs.userInfo[0].profileImage %>">
            <h2><%= rs.userInfo[0].userName %></h2>
            </a>
        </div>
        <!-- <div class="fHright float-right">
            <a href="#"><i class="fa fa-send"></i></a>
            <a class="btn btn-theme">Follow</a>
        </div> -->
        </div>
            <div class="feedImg" onclick="checkpost('<%= rs._id %>','<%= rs.feedType %>');">
               <% if(rs.feedType=="text"){ %>
                
                 <h2><%= rs.caption %></h2>
     
              <% } else if(rs.feedType=="video"){ %>

                <img src="/uploads/feeds/<%= rs.feedData[0].videoThumb %>" id="playi<%= rs._id %>" >
                <iframe  src="/uploads/feeds/<%= rs.feedData[0].feedPost %>"frameborder="0" style="width: 100%;height: 100%;display:none;" id="playv<%= rs._id %>" allowfullscreen></iframe>

              <% }else{ %>

                  <img src="/uploads/feeds/<%= rs.feedData[0].feedPost %>">

              <% } %>
           </div>
            <div class="feedMeta">
                <div class="float-left">
                  <a href="javascript:void(0);" class="likes"> <span id="heart<%= rs._id %>" class="heart <%= (rs.isLike==true) ? 'happy' : '' %>" onclick="likeUnlike('<%= rs._id %>','<%= (rs.isLike==true) ? false : true %>');"><i class="fa fa-heart"></i></span> <span data-toggle="modal" data-target="#likesList"><%= rs.likeCount %>  Likes</span></a>
                   <a href="javascript:void();" class="showCmt"> <i class="fa fa-commenting-o"></i> <%= rs.commentCount %>  Comments</a>
                </div>
                <div class="float-right">
                      <span class="share">
                        <a href="javascript:void();" class="shrFed">
                          <i class="fa fa-share-alt"></i>
                        </a>
                        <div class="shareFeed">
                          <ul>
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                          </ul>
                        </div>
                      </span>
                </div>
            </div> 
     
            <div class="feedFoot">
             <% if(rs.feedType!="text"){ %>   <h2><%= rs.caption %></h2> <% } %>

              <div class="comment">
                    <div class="cmtUser">
                      <div class="media">
                        <img class="d-flex mr-3" src="/front/img/staff-3.jpg" alt="Generic placeholder image">
                        <div class="media-body">
                          <h5 class="mt-0">Emmay Robert</h5>
                          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                        </div>
                      </div>
                    </div>
                    <div class="cmtUser">
                      <div class="media">
                        <img class="d-flex mr-3" src="/front/img/staff-3.jpg" alt="Generic placeholder image">
                        <div class="media-body">
                          <h5 class="mt-0">Emmay Robert</h5>
                          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                        </div>
                      </div>
                    </div>
                    <a href="#" class="linktext">See More</a>
                    <div class="cmtBox">
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Write your comment..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-theme btnCircle" type="button"><i class="fa fa-send"></i></button>
                        </div>
                      </div>
                    </div>
              </div>
            </div>

    </div>

  <% });}else if(page==0){ %>
 <div style="text-align: center;font-size: 18px;font-weight: bold;"> No Record Found </div>
  <% } %>    

   <% if(feedData.length>0){ %>


     <script>

     var a = '<%= Number(page) %>';

     $(window).scroll(function() {
        if($(window).scrollTop() == $(document).height() - $(window).height()) {
            feed_List(a);
        }
    });
   
</script>


   <% } %>
