        <footer class="pageSec black-bg footerSec">
            <div class="container">
                <div class="text-white">
                    <div class="d-flex justify-content-between flex-column flex-md-row align-items-center">
                        <div class="copyright">
                            <p>© Copyright <script>
            now = new Date
            theYear=now.getYear()
            if (theYear < 1900)
            theYear=theYear+1900
            document.write(theYear)
      </script> - <strong><script>
            now = new Date
            theYear=now.getYear()
            if (theYear < 1900)
            theYear=theYear+1900
            document.write(theYear +1)
      </script> <a href="#">Koobi</a> all rights reserved.</p>
                        </div>
                        <div class="social-menu">
                            <a href="https://www.facebook.com/Koobi.co.uk" target="_blank"><img src="/front/images/ico_fb.png"></a>
                            <a href="https://www.instagram.com/koobi.co.uk/?hl=en" target="_blank"><img src="/front/images/ico_insta.png"></a>
                           <!--  <a href="#"><img src="/front/images/ico_twt.png"></a>
                            <a href="#"><img src="/front/images/ico_link.png"></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
