<!doctype html>
<html lang="en">
<head>
    <title>Koobi</title>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <link rel="icon" href="/front/images/favicon.ico" type="image/png" sizes="16x16">

    <!-- FB OG Tags start -->
    <meta property="fb:app_id" content="629983144084097" />
    <meta property="og:title" content="Book The Best Hair & Beauty Services Near You!" />
    <!-- <meta property="og:url" content="http://design.mindiii.com/gourav/koobi/index.html/" /> -->
    <!-- <meta property="og:description" content="We have multiple workout programs designed for all body type and fitness levels.You can train at home or gym with minimal or no equipment. Each plan can be customise as well.">  -->
    <meta property="og:image" content="/front/images/fb_logo.png">
    <meta property="og:image:width" content="160" />
    <meta property="og:image:height" content="160" />
    <meta property="og:type" content="article" />
    <!-- FB OG Tags end -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/front/css/bootstrap.min.css">
    <link rel="stylesheet" href="/front/css/fontawesome.all.min.css">
    <link rel="stylesheet" href="/front/css/animate.css">
    <link rel="stylesheet" href="/front/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/front/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/front/css/style.css">
    <link rel="stylesheet" href="/front/css/responsive.css">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/front/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="/front/js/bootstrap.min.js"></script>
    <script src="/front/js/owl.carousel.min.js"></script>
    <script src="/front/js/custom.js"></script>
</head>

<body>
    <header class="mainHeader">
        <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="/front/images/logo.png">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="mobileMenuView">
                    <button class="menuOpenBtn socialBtn"  type="button">
                        <span class="fas fa-bars"></span>
                    </button>
                    <div class="mobileMenuLink" id="mobileMenuShow">
                        <div class="container">
                        <ul class="navbar-nav ml-auto mainMenu">
                            <li class="nav-item">
                                <a class="nav-link active" href="#Home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#AboutUs">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#Features">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#Screenshots">Screenshots</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#ContactUs">Contact</a>
                            </li>
                            <li class="nav-item navLinkNew">
                                <a class="nav-link" href="/biz">Want to offer your services on Koobi?</a>
                            </li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="collapse navbar-collapse mobileMenu" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mainMenu hideMenuSM">
                        <li class="nav-item">
                            <a class="nav-link active" href="#Home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#AboutUs">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Features">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Screenshots">Screenshots</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#ContactUs">Contact</a>
                        </li>
                        <li class="nav-item navLink">
                            <a class="nav-link" href="/biz">Want to offer your services on Koobi?</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
