<% include ./header_new %> 

	<div class="mainWrapper">
		<section id="Home" class="pageSec bannerSec bannerSocial">
			<div class="bannerBlock">
				<div class="container">
					<div class="bannerCntBlk">
						<div class="bannerCnt">
							<h1>Book The Best Hair & Beauty Services Near You!</h1>
							<p>Koobi is a FREE platform that allows you to Search, Discover, Compare & Book appointments with a wide range of Hair & Beauty professionals in your Area!</p>
							<div class="storeImg">
								<a href="https://apps.apple.com/us/app/id1358302019" target="_blank"><img src="/front/images/app-store.png"></a>
								<a href="https://play.google.com/store/apps/details?id=com.koobi.app" target="_blank" ><img src="/front/images/play-store.png"></a>
							</div>
						</div>
						<div class="bannerImg">
							<div class="phoneImg">
								<img src="/front/images/screen/phone1.png">
							</div>
							<div class="home_screen_slide mobile-slider">
								<div class="single_screen_slide owl-carousel owl-theme">
									<div class="item"><img src="/front/images/screen/screens/social/1.jpg" alt=""></div>
									<div class="item"><img src="/front/images/screen/screens/social/2.jpg" alt=""></div>
									<div class="item"><img src="/front/images/screen/screens/social/3.jpg" alt=""></div>
									<div class="item"><img src="/front/images/screen/screens/social/4.jpg" alt=""></div>
									<div class="item"><img src="/front/images/screen/screens/social/5.jpg" alt=""></div>
									<div class="item"><img src="/front/images/screen/screens/social/6.jpg" alt=""></div>
									<div class="item"><img src="/front/images/screen/screens/social/7.jpg" alt=""></div>
									<div class="item"><img src="/front/images/screen/screens/social/8.jpg" alt=""></div>
									<div class="item"><img src="/front/images/screen/screens/social/9.jpg" alt=""></div>
									<div class="item"><img src="/front/images/screen/screens/social/10.jpg" alt=""></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="AboutUs" class="pageSec aboutUs sec-pad-t-50 pb-20">
			<div class="container">
				<div class="secHead text-center">
					<h2><span>KOOBI</span></h2>
				</div>
				<div class="aboutInfo">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="aboutItem">
								<div class="aboutIcon">
									<span><img src="/front/images/ico_1.png"></span>
								</div>
								<h3>Simple & Innovative</h3>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="aboutItem">
								<div class="aboutIcon">
									<span><img src="/front/images/ico_2.png"></span>
								</div>
								<h3>Search, Discover, Compare & Book! </h3>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="aboutItem">
								<div class="aboutIcon">
									<span><img src="/front/images/ico_3.png"></span>
								</div>
								<h3>Hassle free no queuing</h3>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="aboutItem">
								<div class="aboutIcon">
									<span><img src="/front/images/ico_4.png"></span>
								</div>
								<h3>Hair & Beauty at your fingertips</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="AboutUs" class="pageSec aboutUs sec-pad-t-50 pb-30">
			<div class="container">
				<div class="secHead text-center">
					<h2>About Us</h2>
				</div>
				<div class="aboutInfo">
					<div class="socialAboutUs">
						<p class="more">Koobi is a revolutionary new platform that enables you to Search, Discover, Compare and Book the best Hair & Beauty service providers near you, simply and intuitively at your fingertips. Thanks to Koobi your Hair & Beauty possibilities are now endless! Koobi makes it possible get your Hair & Beauty services done at your place of comfort, whether that's at your home, down the street or even at your office! Koobi has an array of features to serve your convenience. You can Direct Message service providers for more info, set Booking Notifications, use Live Tracking, ClickBook with one click or use the Koobi smart Search Filters to refine your search and find the ideal service provider to match your exact requirement, and so much more!...</p>
						<p>The engineers at Koobi have thoughtfully designed every single application feature to benefit its users and bring an end to the huge number of issues faced in the Hair & Beauty industry today. Whether you’re a Hair & Beauty enthusiast looking for inspired looks, someone that’s on a tight schedule, a busy parent or carer who is having to sacrifice your looks for responsibilities due to your busy daily lives, a Cancer patient that is facing rejection when trying to book Hair & Beauty services, often due to service providers not obtaining the required qualifications, If you’re someone that gets frightened at the sight of queues and long waiting times, or if you are someone who is just struggling to find a free slot, Koobi is the all ideal Hair & Beauty solution for you!</p>
					</div>
				</div>
			</div>
		</section>
		<section id="Features" class="pageSec featuresSec sec-pad-t-50 pb-20">
			<div class="container">
				<div class="secHead text-center">
					<h2>Features Of <span>KOOBI</span></h2>
				</div>
				<div class="featuresBlock">
					<div class="featrsItem">
						<div class="row justify-content-center">
							<div class="col-lg-5 col-md-6">
								<div class="aboutItem">
									<div class="aboutIcon">
										<span><img src="/front/images/ico_8.png"></span>
									</div>
									<h3>Enjoy Online Booking</h3>
									<ul class="featuresList">
										<li>Book in advance to avoid painful queueing & get to spend more time doing the things you love</li>
										<li>Enjoy the flexibility to Book back to back appointments with your favourite Hair & Beauty service providers</li>
										<li>Book for a friend or family member as a surprise treat!</li>
									</ul>
								</div>
								<div class="aboutItem">
									<div class="aboutIcon">
										<span><img src="/front/images/ico_5.png"></span>
									</div>
									<h3>Discover with Explore</h3>
									<ul class="featuresList">
										<li>Get Inspired from the top Hair & Beauty service providers in your industry or keep up with the trends from different locations</li>
									</ul>
								</div>
								<div class="aboutItem">
									<div class="aboutIcon">
										<span><img src="/front/images/ico_7.png"></span>
									</div>
									<h3>Search & Find Your Match</h3>
									<ul class="featuresList">
										<li>Use a number of Koobi smart search filters to refine your search</li>
										<li>Find the ideal Hair & Beauty service provider to match your exact requirement by typing the name of the person or business to find their profile</li>
									</ul>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="featuresImg">
									<div>
										<img src="/front/images/social_features_new1.png">
									</div>
									<div>
										<img src="/front/images/social_features_new2.png">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="featrsItem">
						<div class="row justify-content-center">
							<div class="col-lg-6 col-md-6">
								<div class="featuresImg">
									<div>
										<img src="/front/images/social_features_new3.png">
									</div>
									<div>
										<img src="/front/images/social_features_new4.png">
									</div>
								</div>
							</div>
							<div class="col-lg-5 col-md-6">
								<div class="aboutItem">
									<div class="aboutIcon">
										<span><img src="/front/images/ico_6.png"></span>
									</div>
									<h3>Click Book With One Click Booking</h3>
									<ul class="featuresList">
										<li>Use the Click book feature to book appointments with a single tap on favourite images of looks & services from your area!</li>
									</ul>
								</div>
								<div class="aboutItem">
									<div class="aboutIcon">
										<span><img src="/front/images/ico_11.png"></span>
									</div>
									<h3>Filter Using Verified Reviews</h3>
									<ul class="featuresList">
										<li>Use the Verified Reviews filter on Koobi search filters to find best service providers that are available to you</li>
										<li>Each verified review is collected after completing a Real appointment</li>
										<li>Never face the troubles of Businesses/ Service providers pretending to be others</li>
									</ul>
								</div>
								<div class="aboutItem">
									<div class="aboutIcon">
										<span><img src="/front/images/ico_9.png"></span>
									</div>
									<h3>Real Time Availability</h3>
									<ul class="featuresList">
										<li>Get access to the Booking Diaries of your favourite Hair & Beauty service providers 24/7</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="featrsItem">
						<div class="row justify-content-center">
							<div class="col-lg-5 col-md-6">
								<div class="aboutItem">
									<div class="aboutIcon">
										<span><img src="/front/images/ico_10.png"></span>
									</div>
									<h3>Appointment Management </h3>
									<ul class="featuresList">
										<li>Real Time Notifications to remind you of your upcoming Appointments</li>
										<li>Manage your Scheduled appointments, let service providers know in advance if you have any change of plans</li>
									</ul>
								</div>
								<div class="aboutItem">
									<div class="aboutIcon">
										<span><img src="/front/images/ico_12.png"></span>
									</div>
									<h3>Newsfeed With Friends And Offers From Your Area</h3>
									<ul class="featuresList">
										<li>Follow and stay up to date with the latest offers & services info from your favourite Hair & Beauty Businesses/ service providers</li>
										<li>See recent services your family & friends have booked</li>
										<li>Save up to 25% on discounts & offers!</li>
									</ul>
								</div>
								<div class="aboutItem">
									<div class="aboutIcon">
										<span><img src="/front/images/ico_13.png"></span>
									</div>
									<h3>Follow And Stay Tuned With The Next Offers</h3>
									<ul class="featuresList">
										<li>Follow your Friends, family and Favourite Service providers and get real-time updates on their recent Hair & Beauty experiences</li>
									</ul>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="featuresImg">
									<div>
										<img src="/front/images/social_features_new5.png">
									</div>
									<div>
										<img src="/front/images/social_features_new6.png">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="featrsItem">
						<div class="row justify-content-center">
							<div class="col-lg-6 col-md-6">
								<div class="featuresImg">
									<div>
										<img src="/front/images/social_features_new7.png">
									</div>
									<div>
										<img src="/front/images/social_features_new8.png">
									</div>
								</div>
							</div>
							<div class="col-lg-5 col-md-6">
								<div class="aboutItem">
									<div class="aboutIcon">
										<span><img src="/front/images/ico_14.png"></span>
									</div>
									<h3>Favorite Service Providers</h3>
									<ul class="featuresList">
										<li>Favourite the top Hair & Beauty service providers in your area to view their availabilities instantly with the click of a button</li>
									</ul>
								</div>
								<div class="aboutItem">
									<div class="aboutIcon">
										<span><img src="/front/images/ico_15.png"></span>
									</div>
									<h3>Stories From Today</h3>
									<ul class="featuresList">
										<li>Watch videos uploaded by Hair & Beauty Businesses/ Service providers in your area in the last 24 hours</li>
										<li>Get a feel of what you should expect when experiencing a service, allowing you to always stay prepared and have the best outcomes</li>
										<li>Get exclusive discount codes and offers with up to 25% OFF!</li>
									</ul>
								</div>
								<div class="aboutItem">
									<div class="aboutIcon">
										<span><img src="/front/images/ico_16.png"></span>
									</div>
									<h3>Chat</h3>
									<ul class="featuresList">
										<li>Message with friends, service providers, groups and communities</li>
										<li>Share multimedia files</li>
									</ul>
								</div>
								<div class="aboutItem">
									<div class="aboutIcon">
										<span><img src="/front/images/ico_17.png"></span>
									</div>
									<h3>Organized Folders</h3>
									<ul class="featuresList">
										<li>Create folders to save and organize the content that you would like to visit later</li>
										<li>Quickly find navigate to your favourite inspired looks, tutorials and offers!</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="Screenshots" class="pageSec screenshot-slider sec-pad-t-50 pb-30 darkgray-bg">
			<div class="container">
				<div class="secHead text-center">
					<h2><span>KOOBI</span> Screenshots</h2>
					<p>Discover and book beauty and wellness appointments whenever, wherever, with Koobi!</p>
				</div>
				<div class="owl-carouselNew owl-carousel owl-theme mt-40">
					<div class="item"><img src="/front/images/screen/screens/social/1.jpg" alt=""></div>
					<div class="item"><img src="/front/images/screen/screens/social/2.jpg" alt=""></div>
					<div class="item"><img src="/front/images/screen/screens/social/3.jpg" alt=""></div>
					<div class="item"><img src="/front/images/screen/screens/social/4.jpg" alt=""></div>
					<div class="item"><img src="/front/images/screen/screens/social/5.jpg" alt=""></div>
					<div class="item"><img src="/front/images/screen/screens/social/6.jpg" alt=""></div>
					<div class="item"><img src="/front/images/screen/screens/social/7.jpg" alt=""></div>
					<div class="item"><img src="/front/images/screen/screens/social/8.jpg" alt=""></div>
					<div class="item"><img src="/front/images/screen/screens/social/9.jpg" alt=""></div>
					<div class="item"><img src="/front/images/screen/screens/social/10.jpg" alt=""></div>
				</div>
			</div>
		</section>
		<section id="ContactUs" class="pageSec contactSec sec-pad-t-50 pb-20">
			<div class="contactBlock">
				<div class="container">
					<div class="secHead text-center">
						<h2>Contact Us</h2>
					</div>
					<div class="row justify-content-center">
						<div class="col-md-3 col-sm-6">
							<div class="aboutItem">
								<div class="aboutIcon">
									<span><img src="/front/images/ico_18.png"></span>
								</div>
								<h3>info@koobi.co.uk</h3>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="aboutItem">
								<div class="aboutIcon">
									<span><img src="/front/images/ico_19.png"></span>
								</div>
								<h3>Unit 3, Edelle Business Park, Quebec Street, Oldham OL9 6QJ</h3>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="aboutItem">
								<div class="aboutIcon">
									<span><img src="/front/images/ico_20.png"></span>
								</div>
								<h3>+447888899991</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		 <% include ./footer_new %> 
	