<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/frontNew/images/favicon.ico" type="image/icon" sizes="16x16">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/frontNew/css/bootstrap.min.css">
    <link rel="stylesheet" href="/frontNew/css/fontawesome.all.min.css">
    <link rel="stylesheet" href="/frontNew/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/frontNew/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/frontNew/css/style.css">
    <link rel="stylesheet" href="/frontNew/css/responsive.css">
    <title>Koobi Biz</title>
</head>

<body>
    <header class="mainHeader">
        <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="/frontNew/images/logo_biz.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mainMenu">
                        <li class="nav-item active">
                            <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#aboutUs">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#features">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#screenshots">Screenshots</a>
                        </li>
                       <!--  <li class="nav-item">
                            <a class="nav-link" href="#contactUs">Contact</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section id="home" class="banner dewo overlay-bg">
        <div class="container text-white">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                    <div class="bannerCnt">
                        <h1>It’s all about <br />Promoting our Business</h1>
                        <p> Koobi Biz is an Industry leading application for aspiring or existing Hair & Beauty specialists, to start or grow their business. It includes no Startup Cost Or Fixed Fees</p>
                        <div class="downloadApp">
                            <a href=""><img src="/frontNew/images/appstore.png"></a>
                            <a href=""><img src="/frontNew/images/playstore.png"></a>
                        </div>
                    </div>
                </div>
                <div class="d-none d-lg-block col-md-4">
                    <div class="home_screen_slide">
                        <div class="single_screen_slide owl-carousel owl-theme">
                            <div class="item"><img src="/frontNew/images/screen/biz/screen1.jpg" alt=""></div>
                            <div class="item"><img src="/frontNew/images/screen/biz/screen2.jpg" alt=""></div>
                            <div class="item"><img src="/frontNew/images/screen/biz/screen3.jpg" alt=""></div>
                            <div class="item"><img src="/frontNew/images/screen/biz/screen4.jpg" alt=""></div>
                            <div class="item"><img src="/frontNew/images/screen/biz/screen5.jpg" alt=""></div>
                        </div>
                    </div>
                    <div class="home_screen_nav">
                        <span class="ti-angle-left testi_prev"></span>
                        <span class="ti-angle-right testi_next"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="aboutUs" class="aboutSec sec-pad-70 darkgray-bg">
        <div class="container">
            <div class="section-head text-center">
                <h4 class="aboutBiz">About Koobi <span>Biz</span></h4>
                <p>Koobi Biz is designed to give you control over your business and help you save your time. </p>
            </div>
            <div class="whyWeCnt mt-40">
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <div class="aboutImg">
                            <img src="/frontNew/images/about_us.png">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-12">
                        <div class="text-block-custom section-inner-head">
                            <h3>Koobi Biz App Benefits</h3>
                            <p class="paraText">Scheduling appointments has never been so easy! Koobi Biz is an appointment system that brings you and your clients together. Koobi Biz is designed to give you control over your business and help you save your time. You may benefit from many features that make your professional life easier.</p>
                            <p class="paraText">Even if it’s after hours, Koobi Biz is available to your clients. You call the shots, then your clients can book the slots anytime, anywhere. Your hands are free and you may focus on your work.</p>
                            <ul class="list-style-one">
                                <li><i class="fas fa-check"></i> 24/7 Appointment Booking for Individuals.</li>
                                <li><i class="fas fa-check"></i> Business Management.</li>
                                <li><i class="fas fa-check"></i> Marketing & Analytics Tools.</li>
                                <li><i class="fas fa-check"></i> Client Management.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="features" class="features-section pos-relative sec-pad-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="section-head text-left full-section-title">
                        <h4 class="aboutBiz">Features of Koobi <span>Biz</span></h4>
                        <p>Koobi gives you the tools you need to reach out to clients. Your account comes with a public Koobi profile, a free client app. All of these let clients check your services and availability, view your work, connect to social media pages and read reviews from real clients.</p>
                    </div>
                    <p class="paraText">The easier you make it for clients to book, the more they will book with you. You present your services and your availability online, and clients select the slot that best suits them. It's that simple.</p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="fas fa-user-tie"></i>
                        </div>
                        <h3>Booking <span>Dashboard</span></h3>
                        <p>Customize your online appointment booking page to match your personal brand. as per the selected date on Calendar artist can view the booking status.</p>
                    </div>
                    <div class="service-item service-item1">
                        <div class="service-icon">
                            <i class="fas fa-chart-bar"></i>
                        </div>
                        <h3>Analytics</h3>
                        <p>Koobi has built-in reports that give you detailed information about your clients and the performance of your business. the service provider can view the 'analytics data, Chart data displays the 'Online Bookings & Cash / Card Bookings '</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item service-item2">
                        <div class="service-icon">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                        <h3>Online <span>Appointment</span> </h3>
                        <p>Clients can schedule appointments anytime, anywhere and from any device.</p>
                    </div>
                    <div class="service-item service-item3">
                        <div class="service-icon">
                            <i class="fas fa-users-cog"></i>
                        </div>
                        <h3>Business <span>Management</span></h3>
                        <p>Discover the money-makers of your business with just the click of a button. Generate commissions, manage your staff and their working hours.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="screenshots" class="screenshot-slider sec-pad-70 darkgray-bg">
        <div class="container">
            <div class="section-head text-center">
                <h4 class="aboutBiz">Koobi <span>Biz</span> Screenshots</h4>
                <p>Discover and book beauty and wellness appointments whenever, wherever, with Koobi !</p>
            </div>
            <div class="owl-carouselNew owl-carousel owl-theme mt-40">
                <div class="item"><img src="/frontNew/images/screen/screeenshots/biz/screen1.jpg" alt=""></div>
                <div class="item"><img src="/frontNew/images/screen/screeenshots/biz/screen2.jpg" alt=""></div>
                <div class="item"><img src="/frontNew/images/screen/screeenshots/biz/screen3.jpg" alt=""></div>
                <div class="item"><img src="/frontNew/images/screen/screeenshots/biz/screen4.jpg" alt=""></div>
                <div class="item"><img src="/frontNew/images/screen/screeenshots/biz/screen5.jpg" alt=""></div>
            </div>
        </div>
    </section>
<!--     <section id="contactUs" class="sec-pad-70">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="subscribeSec text-center">
                        <img src="images/email.png" alt="email">
                        <h2 class="subscribeTitle">subscribe to <span>newsletter</span></h2>
                        <p class="paraText"> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                        <form method="post" action="#" class="footer-form">
                            <div class="form-group">
                                <input name="EMAIL" id="mce-EMAIL" placeholder="Your email address:" type="email" required="required" class="form-control">
                            </div>
                            <div class="form-button">
                                <button type="submit" class="btn btn-custom theme-color">send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <footer class="black-bg footerSec">
        <div class="container">
            <div class="text-white wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <div class="d-flex justify-content-between flex-column flex-md-row align-items-center">
                    <div class="copyright">
                        <p>&copy; Copyright 2019 <a href="#">Koobi</a> all rights reserved.</p>
                    </div>
                    <div class="social-menu">
                        <a href="#"><span class="fab fa-facebook-f"></span></a>
                        <a href="#"><span class="fab fa-twitter"></span></a>
                        <a href="#"><span class="fab fa-linkedin-in"></span></a>
                        <a href="#"><span class="fab fa-instagram"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/frontNew/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="/frontNew/js/bootstrap.min.js"></script>
    <script src="/frontNew/js/owl.carousel.min.js"></script>
    <script src="/frontNew/js/custom.js"></script>
</body>

</html>