<% include ./header %> 
<div class="header-margin"></div>
<div class="MainWrapper">
    <section class="Register sec-pad">
        <div class="container">
            <div class="RegPart">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-10">
                            <div class="form-elegant m-mrt">
                                <div class="card">
                                    <div class="regisHead gradient-bg">
                                        <div id="RegcntOne" class="text-center p-4">
                                            <div class="regCnt">
                                                <span>
                                                    <i class="fa fa-user"></i>
                                                </span>
                                                <p>Reset Password</p>
                                            </div>
                                        </div>
                                    </div>

                                      <div class="card-body mx-4">

                                        <% if (error.length > 0) { %>
                                          <div class="alert alert-danger"><%- error %></div>
                                          <% } %>
                                          
                                           <% if (success.length > 0) { %>
                                          <div class="alert alert-success"><%- success %></div>
                                          <% } %>

                                      <form action="/changePassword" method="post" onsubmit="$('.loading').show();" >

                                          <div class="md-form">
                                              <input type="password" name="nPassword" id="passwordLogin" class="form-control" oninput="$('#login-password-err').html('');">
                                              <label for="Form-pass1">New password</label>
                                              <div class="err_msg" id="login-password-err"></div>
                                              <p class="blue-text d-flex justify-content-end">
                                           
                                              </p>
                                              <input type="hidden" value="<%- user._id %>" name="userId">
                                          </div>
                                          <div class="md-form">
                                            <input type="password" name="password" id="confirm_passwordLogin" class="form-control" oninput="$('#login-password-err').html('');">
                                            <label for="Form-pass1">Confirm password</label>
                                            <div class="err_msg" id="c_login-password-err"></div>
                                            <p class="blue-text d-flex justify-content-end"></p>
                                          </div>
                                          <div class="formbtn text-center mb-2">
                                           <button type="submit" class="btn btn-theme btn-block" onclick="return restPassword();">Reset Password</button>

                                          </div>
                                        </form>

                                          
                                      </div>

                                 
                                </div>
                            </div>
                        </div>
                    </div>
               
            </div>
        </div>
    </section>
</div>
<!--Footer-->

<% include ./footer %> 