<% include ./header %> 
    <style>
        .reset_pswrd_block h2 {
            font-size: 24px;
            color: #333;
            letter-spacing: 0.01em;
            margin-bottom: 15px;
        }
        .reset_pswrd_block p {
            color: #828282;
            max-width: 70%;
            margin: 0 auto;
            line-height: 27px;
            font-size: 14px;
        }
        .reset_pswrd_block img {
            max-width: 250px;
            margin-bottom: 35px;
        }
        .reset_pswrd_block {
           /* box-shadow: 0 0 35px rgba(10, 10, 10,0.12);
            -moz-box-shadow: 0 0 35px rgba(10, 10, 10,0.12);
            -webkit-box-shadow: 0 0 35px rgba(10, 10, 10,0.12);*/
            background-color: #ffffff;
            padding: 50px;
            border-radius:10px;
        }
    </style>
<div class="header-margin"></div>
<div class="MainWrapper">
    <section class="Register sec-pad">
        <div class="container">
            <div class="RegPart">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-10">
                            <div class="form-elegant m-mrt">
                                <div class="card">
                                    <div class="reset_pswrd sec-pad-60">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="reset_pswrd_block text-center">
<!--                                                         <img src="/admin/img/pswrd.png" />
 -->                                                        <h2>Your password has been changed successfully.</h2>
                                                        <p></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
               
            </div>
        </div>
    </section>
</div>
<!--Footer-->

<% include ./footer %> 
<script src="/front/js/facebook-login.js"></script>
