  <!DOCTYPE html>
    <html>

    <head>
        <title>WebRTC Audio/Video-Chat</title>
    </head>

    <body>
        <div id="app">
            <span id="myid"> </span>
            <video id="selfview"></video>
            <video id="remoteview"></video>
            <button id="endCall" style="display: none;" onclick="endCurrentCall()">End Call </button>
            <div id="list">
                <ul id="users">

                </ul>
            </div>
        </div>
    </body>

    </html>

      <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <script>

    var pusher = new Pusher('fa5e92eacaae6a752482', {
      cluster: 'ap2',
      encrypted: true,
      authEndpoint: "pusher/auth"
    });

    channel.bind('my-event', function(data) {
          alert(JSON.stringify(data));
    });
    var usersOnline,
      id,
      users = [],
      sessionDesc,
      currentcaller,
      room,
      caller,
      localUserMedia;
    const channel = pusher.subscribe("presence-videocall");

    channel.bind("pusher:subscription_succeeded", members => {
      //set the member count
      usersOnline = members.count;
      id = channel.members.me.id;
      console.log(members);
      document.getElementById("myid").innerHTML = ` My caller id is : ` + id;
      console.log(id);
      members.each(member => {
        if (member.id != channel.members.me.id) {
          users.push(member.id);
        }
      });

      render();
    });

    channel.bind("pusher:member_added", member => {
      users.push(member.id);
      render();
    });

    channel.bind("pusher:member_removed", member => {
      // for remove member from list:
      var index = users.indexOf(member.id);
      users.splice(index, 1);
      if (member.id == room) {
        endCall();
      }
      render();
    });

    function render() {
      var list = "";
      users.forEach(function(user) {
        list +=
          `<li>` +
          user +
          ` <input type="button" style="float:right;"  value="Call" onclick="callUser('` +
          user +
          `')" id="makeCall" /></li>`;
      });
      document.getElementById("users").innerHTML = list;
    }
    </script>