  <% include ./header %> 
 
    <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
Add Category        
          </h1>
 
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <!-- left column -->
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
               <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header with-border">
                </div><!-- /.box-header -->
                <!-- form start -->
                 <% if (error.length > 0) { %>
                          <div class="alert alert-danger"><%- error %></div>
                          <% } %>

                           <% if (success.length > 0) { %>
                          <div class="alert alert-success"><%- success %></div>
                          <% } %>
                <form role="form" action="/createSubCategory" method="post" enctype= "multipart/form-data" id="regsterForm">
                  <div class="box-body">
                      <div class="form-group">
                      <label for="exampleInputEmail1">Business type</label>
                     <select name="serviceId" class="form-control form-title" title="Business type field is required"  required />
                     <option value="">-- select Business type --</option>
                     <% categorydata.forEach(function(rs) { %>
                        <option value="<%= rs._id %>"><%= rs.title %></option>

                    <% }); %>

                     </select>

                    </div>

                    <div class="form-group">
                      <label for="exampleInputEmail1">Category name</label>
                     <input type="text" name="title" id="title" class="form-control form-title" title="Category name field is required"  required  placeholder="Sub service name" maxlength="50"/>

                    </div>              
                   
                  </div><!-- /.box-body -->

                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary" id="submitbutton">Submit</button>
                  </div>
                </form>
              </div><!-- /.box -->

            </div><!--/.col (left) -->
            <!-- right column -->
      
          </div>   <!-- /.row -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

     <% include ./footer %> 

<script type="text/javascript">

$('#submitbutton').click(function(){
    $(this).hide().attr("disabled", "disabled");
    $(this).parents('form').submit();
    $(this).delay(1000).fadeIn().prop("disabled", false);
});
 $("#regsterForm").validate( {

  rules: {
    serviceId: {required : true },
    title: { 
     /* lettersonly: true,*/ 
      required: {
          depends:function(){
              $(this).val($.trim($(this).val()));
              return true;
          }
      },
    },
  },

  messages:{

        title:{
        required: "Category name field is required",
        lettersonly:"Only alphabet letters",
        }
   }     

});

jQuery.validator.addMethod("lettersonly", function(value, element) {
  return this.optional(element) || /^[a-zA-Z\s]+$/i.test(value);
}, "Letters only please"); 
</script>