<% include ./header %> 
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<style type="text/css">
    textarea {
   resize: none;
}
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
     
        
    </section>
    <!-- Main content -->
    <section class="content">
        
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                         <h3 class="box-title">Report List</h3>
                        
                        
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive no-padding" id="ajaxdata">    
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Group Name</th>
                                    <th>Admin Name</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Report User</th>
                                    <th>Date/Time</th>
                                    <th>Action</th>
                                </tr>
                            </thead>     
                           <tbody id="report_data"></tbody>
                        
                        </table>


                </div><!-- /.box-body -->

                </div><!-- /.box -->
            </div>
        </div>
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

     <% include ./footer %> 

     <div class="modal fade" id="warning_message">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">warning Message</h4>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label>Message</label>
                  <textarea class="form-control" rows="3" placeholder="Enter ..." id="message" maxlength="200"></textarea>
                  <div id="message-err"></div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="send_message">Send Notification</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>

    <script type="text/javascript">
          var senderId = 'admin';
          var authToken = '';
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firechat/3.0.1/firechat.min.js"></script>
    <script src="/front/js/web-notification.js" defer="defer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" defer="defer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" defer="defer"></script>
    <script type="text/javascript">
    $( document ).ready(function() {

        setTimeout(function() {
             $('.loading').show();

        },100);

        $("#send_message").click(function(){

            var flag = 0;

            let message = $.trim(jQuery("#message").val());
            let gorupId = $("#send_message").val();;

            if (message == '' || message == '') {

                flag = 1;
                $('#message-err').html("Please enter message");

            }else if (message.length>200) {

                flag = 1;
                $('#message-err').html("You can't enter more than 200 characters");

            } else {

                $('#message-err').html("");

            }

            if (flag) {

                return false;
            } 


            reciveIdRef = firebase.database().ref().child('group').child(gorupId);
            reciveIdRef.once('value',function(rdata){
                rdata = rdata.val();
                if(rdata){
                   let member = rdata.member;
                   let groupName = rdata.groupName;
                   let adminId = rdata.adminId;
                    $.each(member, function(i, item) {

                      if(typeof item != "undefined" || item != null) {

                            let to = item.firebaseToken;
                            if(to){

                                let notification = {
                                  'title' : groupName,
                                  'message' : message,
                                  'body' : message,
                                  'notifincationType' : '15',
                                  "type": "groupChat",
                                  "click_action": "ChatActivity",
                                  "opponentChatId": gorupId,
                                  'adminId' : adminId
                                };

                                senNotifcation(to,notification,notification);

                            }else{

                                let webNotification = {
                                  
                                  'title' : groupName,
                                  'body' : message,
                                  'url':'/chat'
                                };
                                senWebNotifcation(item.memberId,webNotification);
                            }
                                                   
                            
                      }

                   });
                    $("#warning_message").modal('hide');
                    toastr.success('Message send successfully')

               }
            });
        });
        let getreport = function(){

            myGroupR = firebase.database().ref().child('group_report');

            
            myGroupR.on('value',function(grdata){
            $("#report_data").html('');

              grdata = grdata.val();
             
              if(grdata){

                s = 1;
                $.each(grdata, function(i, item) {
                  
                    $.each(item, function(j, item1) {
                    if(typeof item != "undefined" || item != null) {
                       
                        firebase.database().ref().child('users').child(item1.adminId).once('value',function(adata){
                          
                            firebase.database().ref().child('users').child(item1.senderId).once('value',function(udata){
                                firebase.database().ref().child('group').child(item1.groupId).once('value',function(gdata){
                                  
                                    img = udata.val().profilePic;
                                    userName = udata.val().userName;
                                    adminName = adata.val().userName;
                                    aprofilePic = adata.val().profilePic;
                                    aId = item.adminId;
                                    groupName = gdata.val().groupName;
                                    freezeGroup = gdata.val().freezeGroup;
                                    banAdmin = gdata.val().banAdmin;
                                    g_img = gdata.val().groupImg;
                                    member = gdata.val().member;
                                    freezeGroup = (freezeGroup==1) ? 'hidden' : '';
                                    unFreezeGroup = (freezeGroup==0) ? 'hidden' : '';
                                    banAdmin = (banAdmin==1) ? 'hidden' : '';
                                    unbanAdmin = (banAdmin==0) ? 'hidden' : '';

                                    Time =  moment(item.timestamp).format("DD/MM/YYYY, hh:mm A");
                                    chat = '<tr><td>'+s+'</td> <td><img src="'+g_img+'" class="img-rounded" alt="'+groupName+'" title="'+groupName+'" width="60" height="60"> &nbsp;&nbsp;'+groupName+'</td><td><img src="'+aprofilePic+'" class="img-circle" alt="'+adminName+'" title="'+adminName+'" width="60" height="60"> &nbsp;&nbsp;'+adminName+'</td><td>'+item1.title+'</td><td>'+item1.groupDescription+'</td><td><img src="'+img+'" class="img-circle" alt="'+userName+'" title="'+userName+'" width="60" height="60"> &nbsp;&nbsp;'+userName+'</td><td>'+Time+'</td><td> <div class="dropdown dropleft"><button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false" title="Action"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button><ul class="dropdown-menu drop_itm dropdown-menu-right" role="menu"><li><a href="javascript:void(0);" onclick="freeze_group(this);" data-group_id="'+item.groupId+'"  class="'+freezeGroup+' freeze_group'+item.groupId+'"><i class="fa fa-bell-slash-o"></i> Freeze Group</a></li><li><a href="javascript:void(0);" onclick="un_freeze_group(this);" data-group_id="'+item.groupId+'" class="'+unFreezeGroup+' un_freeze_group'+item.groupId+'"><i class="fa fa-bell"></i>Un Freeze Group</a></li><li><a href="javascript:void(0);" onclick="warning_message(this);" data-group_id="'+item.groupId+'"><i class="fa fa-exclamation-triangle"></i> Warning Message</a></li><li><a href="javascript:void(0);" onclick="ban_group(this);" data-group_id="'+item.groupId+'" data-admin_id="'+aId+'" class="'+banAdmin+' ban_group'+aId+'"><i class="fa fa-ban"></i> Ban Admin</a><a href="javascript:void(0);" onclick="un_ban_group(this);" data-group_id="'+item.groupId+'" data-admin_id="'+aId+'" class="'+unbanAdmin+' un_ban_group'+aId+'"><i class="fa fa-ban"></i> unban Admin</a></li></ul>                 </div></td></tr>';

                                    $("#report_data").append(chat);
                                    s++;    

                                });
                            });
                        });


                    }
                });

                });

              /*  chat = '<tr><td colspan="7" align="center">No record found</td></tr>';

                $("#report_data").append(chat);*/

              }else{

                chat = '<tr><td colspan="7" align="center">No record found</td></tr>';

                $("#report_data").append(chat);
              }
                setTimeout(function() {
                 $('.loading').hide();

                },1300);


            });
        }
   
        getreport();

       
    });

    let warning_message = function(e){
        let group_id = $(e).data('group_id');
        $("#send_message").val(group_id);
        $("#warning_message").modal('show');
        $("#message").val('');
       

    }

    let freeze_group = function(e){

         swal({
            title: "Are you sure?",
            text: "You want to freeze this group",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: '#1976d2',
            confirmButtonText: 'Yes, I am sure!',
            cancelButtonText: "No, cancel it!",
            closeOnConfirm: true,
            closeOnCancel: true
        },

        function(isConfirm) {

            if(isConfirm){
                let groupId = $(e).data('group_id');
                firebase.database().ref('group').child(groupId).child('freezeGroup').set(1);
                $(".freeze_group"+groupId).addClass('hidden');
                $(".un_freeze_group"+groupId).removeClass('hidden');
                toastr.success('Group freeze successfully');
            }
        });
    }

    let un_freeze_group = function(e){

        swal({
            title: "Are you sure?",
            text: "You want to unfreeze this group",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: '#1976d2',
            confirmButtonText: 'Yes, I am sure!',
            cancelButtonText: "No, cancel it!",
            closeOnConfirm: true,
            closeOnCancel: true
        },

        function(isConfirm) {

            if(isConfirm){
                let groupId = $(e).data('group_id');
                firebase.database().ref('group').child(groupId).child('freezeGroup').set(0);
                $(".freeze_group"+groupId).removeClass('hidden');
                $(".un_freeze_group"+groupId).addClass('hidden');
                toastr.success('Group unfreeze successfully');
            }
        });
    }

    let ban_group = function(e){

         swal({
            title: "Are you sure?",
            text: "You want to ban  this group",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: '#1976d2',
            confirmButtonText: 'Yes, I am sure!',
            cancelButtonText: "No, cancel it!",
            closeOnConfirm: true,
            closeOnCancel: true
        },

        function(isConfirm) {

            if(isConfirm){
                let groupId = $(e).data('group_id');
                let admin_id = $(e).data('admin_id');
                firebase.database().ref('group').child(groupId).child('banAdmin').set(1);
                firebase.database().ref('users').child(admin_id).child('banAdmin').set(1);
                $(".ban_group"+admin_id).addClass('hidden');
                $(".un_ban_group"+admin_id).removeClass('hidden');
                toastr.success('Group ban successfully');
            }
        });
    }

    let un_ban_group = function(e){

        swal({
            title: "Are you sure?",
            text: "You want to unban this group",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: '#1976d2',
            confirmButtonText: 'Yes, I am sure!',
            cancelButtonText: "No, cancel it!",
            closeOnConfirm: true,
            closeOnCancel: true
        },

        function(isConfirm) {

            if(isConfirm){

                let groupId = $(e).data('group_id');
                let admin_id = $(e).data('admin_id');
                firebase.database().ref('group').child(groupId).child('banAdmin').set(0);
                firebase.database().ref('users').child(admin_id).child('banAdmin').set(0);
                $(".ban_group"+admin_id).removeClass('hidden');
                $(".un_ban_group"+admin_id).addClass('hidden');
                toastr.success('Group unban successfully');
                
            }

        });
    }

    
    function  senNotifcation(to,notification,data){
        console.log(notification);
        fetch('https://fcm.googleapis.com/fcm/send', {
          'method': 'POST',
          'headers': {
            'Authorization': 'key=' + key,
            'Content-Type': 'application/json'
          },
          'body': JSON.stringify({
              to: to,
              collapse_key: 'your_collapse_key',
              delay_while_idle : false,
              priority : "high", 
              content_available: true,
              notification: notification,           
              data: data,
              badge : 1,
              icon : 'icon',

          })
        }).then(function(response) {
          console.log(response);
        }).catch(function(error) {
          console.error(error);
        });
    }

    function senWebNotifcation(userId,data){

        firebase.database().ref().child(notifications).child(userId).set(null);

         newPostKey = firebase.database().ref().child(notifications).child(userId).push().key;
         if(newPostKey ){
         
           var updates = {};
           updates[newPostKey] = data;
           firebase.database().ref().child(notifications).child(userId).update(updates);

         }

    }


    </script>


