<% include ./header %>

  <%  

  user = rs[0].userDetail[0];
  artist = rs[0].artistDetail[0];
  rs = rs[0];
%>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Booking Details
      </h1>

    </section>

    <div class="pad margin no-print">
     
    </div>

    <!-- Main content -->
    <section class="invoice">
      <!-- title row -->
      <div class="row">
        <div class="col-xs-12">
          <% if (error.length > 0) { %>
          <div class="alert alert-danger"><%- error %></div>
          <% } %>

           <% if (success.length > 0) { %>
          <div class="alert alert-success"><%- success %></div>
          <% } %>
          <h2 class="page-header">
            <i class="fa fa-globe"></i>
            <small class="pull-right">Date: <%= moment(rs.crd).format("DD/MM/YYYY") %></small>
          </h2>
        </div>
        <!-- /.col -->
      </div>
      <!-- info row -->
      <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
          From
          <address>
            <strong><%= user.userName %></strong><br>
            Phone: <%= user.contactNo %><br>
            Email: <%= user.email %>
          </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
          To
          <address>
            <strong><%= artist.userName %></strong><br>
            Phone: <%= artist.contactNo %><br>
            Email: <%= artist.email %>
          </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
          <b>Invoice #<%= rs._id %></b><br>
          <br>
          <b>Location:</b> <%= rs.location %><br>
         <% if(rs.transjectionId) { %>  <b>Transaction Id:</b> <%= rs.transjectionId %><br><% } %>
          <b>Service Type:</b> <%= (rs.bookingData[0].serviceType==1) ? 'In call' : 'Out call' %><br>
          <b>Booking Date/Time:</b> <%= moment(rs.bookingDate).format("DD/MM/YYYY")+", "+rs.bookingTime;%><br>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12 table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>#</th>
              <th>Services</th>
              <th>Booking Date/Time</th>
              <th>Staff</th>
              <th>Subtotal</th>
            </tr>
            </thead>
            <tbody>
            <%
            i=1;
          	bookingList = rs.bookingData;
           	bookingList.forEach(function(brs) { 
	            artistServicesData.forEach(function(ars) { 
		            if(ars._id==brs.artistServiceId){
		            var bookingDate = moment(brs.bookingDate).format("DD/MM/YYYY")+", "+brs.startTime;
           %>
            <tr>
              <td><%= i%></td>
              <td><%= ars.title %> </td>
              <td><%= bookingDate %></td>
                 <td><% 
                    staffaId = rs.bookingData[0].staff; 
                    if(staffaId){
                        my.forEach(function(srs) {
                       console.log(srs.artistId);
                       console.log(staffaId);
                            if(staffaId==srs.artistId){
                        %>
                       <%= srs.staffInfo.userName %>

                        <% }}); }else{%>
                     <%= rs.artistDetail[0].userName %>     
                    <% } %>
                 </td>
              <td>&#163;<%= Number(brs.bookingPrice).toFixed(2) %></td>
            </tr>
        	<% i++; } }); }); %>
            </tbody>
          </table>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-xs-12 col-md-6 col-sm-12">
          <p><span class="lead"> Payment Methods:</span> <span><%=(rs.paymentType==1) ? 'Online' : 'Cash' %></span></p>

        </div>
        <!-- /.col -->
        <div class="col-xs-12 col-md-6 col-sm-12">

          <div class="table-responsive">
            <table class="table">
              <tbody><tr>
                <th style="width:50%">Subtotal:</th>
                <td>&#163;<%= Number(rs.totalPrice).toFixed(2) %></td>
              </tr>
              <tr>
                <th>Discount</th>
                <td>&#163;0.00</td>
              </tr>
       
              <tr>
                <th>Total:</th>
                <td>&#163;<%= Number(rs.totalPrice).toFixed(2) %></td>
              </tr>
            </tbody></table>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
          <!-- Table row -->

       <% if(categorydata.length){ %>  

          <div class="row">
              <div class="col-xs-12">
                <p><span class="lead">Report</p>
              </div>
              <div class="col-xs-12 table-responsive">
                    <table class="table table-hover">
                          <tr>
                              <th>S.no</th>
                              <th>Report By User</th>
                              <th>Service Name</th>
                              <th>Bussiness Name</th>
                              <th>Title</th>
                              <th>Description</th>
                              <th>Report For User</th>
                              <th>Date/Time</th>
                              <th>Report Favored To</th>
                              <th>Explanation By Admin</th>
                              <th>Status</th>
                              <th>Action</th>
                          </tr>

                          <%  
                           i=1;
                           if(categorydata){
                           categorydata.forEach(function(rs) { %>
                          <tr>
                              <td><%= i %></td>

                              <td><img src="<%= rs.byUser[0].profileImage %>" class="img-circle" alt="<%= rs.byUser[0].userName %>" title="<%= rs.byUser[0].userName%>" width="60" height="60"> &nbsp;&nbsp;<%= rs.byUser[0].userName %></td>
                              <td><%= rs.artistService[0].title %></td>
                              <td><%= rs.businessInfo[0].businessName %></td>
                              <td><%= rs.title %></td>
                              <td><%= rs.description %></td>
                              <td><img src="<%= rs.forUser[0].profileImage %>" class="img-circle" alt="<%= rs.forUser[0].userName %>" title="<%= rs.forUser[0].userName%>" width="60" height="60"> &nbsp;&nbsp;<%= rs.forUser[0].userName %></td>
                              <td><%= moment(rs.crd).format("DD/MM/YYYY, hh:mm A") %></td>
                              <td><%= rs.favored %></td>
                              <td><%= rs.adminReason %></td>

                              <td><span class="label <%= rs.status==1 ? 'label-primary' : 'label-success' %>"><%= rs.status==1 ? 'Under Review' : 'Resolved' %></span></td>
                               <td>
                                <% if(rs.status==1){ %>
                                  <a href="#" class="btn btn-info" title="Action" onclick="actionReport('<%= rs._id %>');"><span class="fa fa-pencil-square"></span></a>
                                <% } else{%>
                                  NA
                                <% } %>
                              </td>



                          </tr>
                          <% i++;});}else{ %>
                           <tr><td colspan="8" align="center"><b>No record found</b></td></tr>

                          <% } %>
                                    
                      </table>
                </div>
            <!-- /.col -->
          </div>

        <% } %>
      <!-- /.row -->

      <!-- this row will not appear when printing -->
      <div class="row no-print">
        <div class="col-xs-12">
          <a href="/invoice_print/<%= cryptr.encrypt(rs._id) %>" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a>
         
        </div>
      </div>
    </section>
    <!-- /.content -->
    <div class="clearfix"></div>
  </div>
<% include ./footer %> 

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Booking Report</h4>
        </div>
        <div class="modal-body">
            <% if (error.length > 0) { %>
                          <div class="alert alert-danger"><%- error %></div>
                          <% } %>

                           <% if (success.length > 0) { %>
                          <div class="alert alert-success"><%- success %></div>
                          <% } %>
                <form role="form" action="/createReport" method="post" id="regsterForm">
                     <div class="box-body">
                        <div class="form-group">
                            <input type="hidden" id="id" name="id">
                          <label for="exampleInputEmail1">Report Favored To</label>
                           <select name="favored" id="favored" class="form-control form-title"  required />
                            <option value="">-- Select --</option>
                            <option value="Customer">Customer</option>
                            <option value="Artist">Artist / Staff</option>
                         </select>

                        </div>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Explanation By Admin</label>
                         <textarea  name="explanation" id="explanation" class="form-control form-title" title="Explanation field is required"  required  maxlength="50" > </textarea>
                        </div>             
                       
                    </div><!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary" id="submitbutton">Submit</button>
                    </div>
                </form>
        </div>
      </div>
      
    </div>
  </div>

<script type="text/javascript">
  
    function actionReport(e){
        $("#id").val(e);
        $("#myModal").modal('show');
    }
    $("#regsterForm").validate( {

        rules: {
            explanation: {
                required: {
                    depends:function(){
                        $(this).val($.trim($(this).val()));
                        return true;
                    }
                },
            },
            favored:{

              required: {
                    depends:function(){
                        $(this).val($.trim($(this).val()));
                        return true;
                    }
                },
            }
        },
        messages:{

            title:{

                required: "Explanation field is required"
            },
            favored:{

                required: "Report favored is required"
            }
        }     

    });

</script>
