  <% include ./header %> 
 
    <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
Booking Reminder      
          </h1>
       
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <!-- left column -->
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
               <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header with-border">
                </div><!-- /.box-header -->
                <!-- form start -->
                 <% if (error.length > 0) { %>
                          <div class="alert alert-danger"><%- error %></div>
                          <% } %>

                           <% if (success.length > 0) { %>
                          <div class="alert alert-success"><%- success %></div>
                          <% } %>
                <form role="form" action="/reminderUpdate" method="post" id="regsterForm">
                  <div class="box-body">

                        <div class="form-group">
                            <label for="exampleInputEmail1">First Reminder</label>
                            <textarea  name="firstMessage" id="title" class="form-control form-title" title="First message field is required" rows="4" required ><%= data.firstMessage %></textarea>

                        </div>

                         <div class="form-group">
                            <label for="exampleInputEmail1">First Reminder Date</label>
                            <select class="form-control form-title" tle="First reminder date is required" name="firstReminder" required >
                                <%
                                a   =  moment(data.firstReminder).format('D');
                                 for(i=1;i<=30;i++){%>
                                <option value="<%= (i<10) ? '0'+i : i %>" <% if(i==a){ %>selected="selected" <% }%>><%= (i<10) ? '0'+i : i %></option>
                                <% } %>
                            </select>
    
                        </div>
                  

                        <div class="form-group">
                        <label for="exampleInputEmail1">Second Reminder</label>
                        <textarea  name="secondMessage" id="title" class="form-control form-title" title="Second message field is required" rows="4" required ><%= data.secondMessage %></textarea>

                      </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Second Reminder Date</label>
                            <select class="form-control form-title" name="secondReminder" tle="Second reminder date is required" required >
                                <%
                                 b   =  moment(data.secondReminder).format('D');
                                 for(i=1;i<=30;i++){%>
                                <option value="<%= (i<10) ? '0'+i : i %>" <% if(i==b){ %>selected="selected" <% }%> ><%= (i<10) ? '0'+i : i %></option>
                                <% } %>
                            </select>

                        </div>
                      

                        <div class="form-group">
                        <label for="exampleInputEmail1">Third Reminder</label>
                        <textarea  name="thirdMessage" id="title" class="form-control form-title" title="Third message field is required" rows="4" required ><%= data.thirdMessage %></textarea>
                        <p><b>Disclaimer: Please select a date from next month for final commission payment reminder </b></p>

                      </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Third Reminder Date</label>
                             <select class="form-control form-title" name="thirdReminder" title="Third reminder date is required" required >
                                <%
                                c   =  moment(data.thirdReminder).format('D');
                                for(i=1;i<=30;i++){%>
                                <option value="<%= (i<10) ? '0'+i : i %>" <% if(i==c){ %>selected="selected" <% }%>><%= (i<10) ? '0'+i : i %></option>
                                <% } %>
                            </select>

                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Block Duration</label>
                             <select class="form-control form-title" name="blockDuration" title="Block Duration is required" required >
                                <%
                                c   =  data.blockDuration;
                                for(i=1;i<=50;i++){%>
                                <option value="<%= (i<10) ? '0'+i : i %>" <% if(i==c){ %>selected="selected" <% }%>><%= (i<10) ? '0'+i : i %></option>
                                <% } %>
                            </select>

                        </div>
                      


              
                   
                  </div><!-- /.box-body -->

                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary" id="submitbutton">Submit</button>
                  </div>
                </form>
              </div><!-- /.box -->

            </div><!--/.col (left) -->
            <!-- right column -->
      
          </div>   <!-- /.row -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

     <% include ./footer %> 

<script type="text/javascript">

$('#submitbutton').click(function(){
    $(this).hide().attr("disabled", "disabled");
    $(this).parents('form').submit();
    $(this).delay(1000).fadeIn().prop("disabled", false);
});

 $("#regsterForm").validate();
</script>