<% include ./header %> 
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<style type="text/css">
    textarea {
   resize: none;
}
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
     
        
    </section>
    <!-- Main content -->
    <section class="content">
        
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                         <h3 class="box-title">Feed Report List</h3>
                        
                        
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive no-padding" id="ajaxdata">    
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Admin Name</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Post Link</th>
                                    <th>Report User</th>
                                    <th>Date/Time</th>
                                </tr>
                            </thead>     
                           <tbody id="report_data"></tbody>
                        
                        </table>


                </div><!-- /.box-body -->

                </div><!-- /.box -->
            </div>
        </div>
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

     <% include ./footer %> 

    <script type="text/javascript">
          var senderId = 'admin';
          var authToken = '';
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firechat/3.0.1/firechat.min.js"></script>
    <script src="/front/js/web-notification.js" defer="defer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" defer="defer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" defer="defer"></script>
    <script type="text/javascript">
    $( document ).ready(function() {

        setTimeout(function() {
             $('.loading').show();

        },100);

        let getreport = function(){

            myGroupR = firebase.database().ref().child('feed_report');
            myGroupR.on('value',function(grdata){
            $("#report_data").html('');
              grdata = grdata.val();
              console.log(grdata);
              if(grdata){
                s = 1;
                $.each(grdata, function(i, item) {


                    if(typeof item != "undefined" || item != null) {
                        firebase.database().ref().child('users').child(item.feedOwnerId).once('value',function(adata){
                            firebase.database().ref().child('users').child(item.myId).once('value',function(udata){
                                img = udata.val().profilePic;
                                userName = udata.val().userName;
                                adminName = adata.val().userName;
                                aprofilePic = adata.val().profilePic;
                                aId = item.adminId;

                                Time =  moment(item.timestamp).format("DD/MM/YYYY, hh:mm A");
                                chat = '<tr><td>'+s+'</td><td><img src="'+aprofilePic+'" class="img-circle" alt="'+adminName+'" title="'+adminName+'" width="60" height="60"> &nbsp;&nbsp;'+adminName+'</td><td>'+item.reason+'</td><td>'+item.description+'</td><td>'+item.link+'</td><td><img src="'+img+'" class="img-circle" alt="'+userName+'" title="'+userName+'" width="60" height="60"> &nbsp;&nbsp;'+userName+'</td><td>'+Time+'</td></tr>';

                                $("#report_data").append(chat);
                                s++;    

                            });
                        });


                    }


                });

              }else{

                chat = '<tr><td colspan="7" align="center">No record found</td></tr>';

                $("#report_data").append(chat);
              }
                setTimeout(function() {
                 $('.loading').hide();

                },1300);


            });
        }
   
        getreport();

       
    });

    </script>


