<footer class="main-footer">
    
        <strong>Copyright &copy; 2018-2020 <a href="/adminDashboard">Koobi admin</a>.</strong> All rights reserved.
      </footer>

      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->

    <!-- jQuery 2.1.4 -->
    <!-- jQuery UI 1.11.4 -->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script type="text/javascript">

        var pathname = window.location.pathname;
        var res = pathname.replace("/", "");
        var res = res.split("/");
        var res = res[0];
          $('.common').removeClass("active");
        if(res){

           switch(res) {
                case 'artist':
                    $('#user').addClass("active");
                    break;
                case 'artistview':
                    $('#user').addClass("active");
                    res = 'artist';
                    break;
                case 'customer':
                    $('#user').addClass("active");
                    break;
                case 'customerview':
                    $('#user').addClass("active");
                     res = 'customer';
                    break;    
                case 'addSubCategory':
                    $('#sub_service').addClass("active");
                    break;
                case 'listSubCategory':
                    $('#sub_service').addClass("active");
                    break; 
                case 'categorySubEdit':
                    $('#sub_service').addClass("active");
                    break;   
                case 'listUserSubCategory':
                    $('#sub_service').addClass("active");
                    break;        
                case 'addCategory':
                    $('#service').addClass("active");
                    break;   
                case 'listCategory':
                    $('#service').addClass("active");
                    break;
                case 'categoryEdit':
                    $('#service').addClass("active");
                    break;
                case 'listUserCategory':
                    $('#service').addClass("active");
                    break;
                case 'admin_payment_history':
                    $('#payment').addClass("active");
                case 'bookingview':
                    $('#payment').addClass("active");
                    res = 'admin_payment_history';    
                    break;
                case 'total_services':
                    $('#Tservices').addClass("active");
                    break;  
                case 'admin_group_report':
                    $('#report').addClass("active");
                    break;
                case 'admin_feed_report':
                    $('#report').addClass("active");
                    break;                              
                case 'admin_booking_report':
                    $('#report').addClass("active");
                    break;
                case 'admin_booking_reminder':
                    $('#reminder').addClass("active");
                    break; 
                case 'admin_user_report':
                    $('#report').addClass("active");
                    break;                                  
                default:
                    $('#adminDashboard').addClass("active");
            } 

          $('#'+res).addClass("active");
        
        }

    </script>
    <script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.5 -->
    <script src="/admin/bootstrap/js/bootstrap.min.js"></script>
    <!-- Morris.js charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <!-- Sparkline -->
    <script src="/admin/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="/admin/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/admin/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="/admin/plugins/knob/jquery.knob.js"></script>
    <!-- daterangepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script src="/admin/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- datepicker -->
    <script src="/admin/plugins/datepicker/bootstrap-datepicker.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="/admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="/admin/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="/admin/plugins/fastclick/fastclick.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/admin/dist/js/app.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <!-- AdminLTE for demo purposes -->
    <script src="/admin/dist/js/demo.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyie5SLruC8QRsZ4VYSaK1uwUE6g4w2IY&libraries=places" type = "text/javascript"></script> 

    

    <script type="text/javascript">
            setTimeout(function() {
            $('.alert-danger').fadeOut('fast');
            $('.alert-success').fadeOut('fast');
            $('.alert-warning').fadeOut('fast');
        }, 5000);
    </script>

  </body>
</html>

