
<% include ./header %> 

<style>
.dx-export-menu-button{
  display:none;
}
.page-content {
  padding: 90px 30px 30px;
}
.animsition, .animsition-overlay { 
 animation-fill-mode: both;
 opacity: 10 !important; 
 position: relative;}
 .canvasjs-chart-credit{
  display: none !important;
 }

 .graphTitle h2 {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 0;
}
.GraphBlock .box {
    padding: 15px;
}
.flexBlock {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.graphFilter select {
    border: 1px solid #ccc;
    margin-left: 5px;
}
.graphFilter {
    display: flex;
    align-items: center;
}
</style>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Dashboard
          </h1>
         
        </section>

        <!-- Main content -->
        <section class="content">
          <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-3 col-xs-6"  onclick="window.location.href = '/listCategory';" style="cursor: pointer;">
                  <!-- small box -->
                  <div class="small-box bg-aqua">
                    <div class="inner">
                      <h3><%= categoryCount%></h3>
                      <p>Business type</p>
                    </div>
                    <div class="icon">
                      <i class="fa fa-cog"></i>
                    </div>
                    <a href="/listCategory" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div><!-- ./col -->
                <div class="col-lg-3 col-xs-6"  onclick="window.location.href = '/listSubCategory';" style="cursor: pointer;">
                  <!-- small box -->
                  <div class="small-box bg-green">
                    <div class="inner">
                      <h3><%= subcategoryCount%></h3>
                      <p>Category</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="/listSubCategory" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div><!-- ./col -->
                <div class="col-lg-3 col-xs-6" onclick="window.location.href = '/customer';" style="cursor: pointer;">
                  <!-- small box -->
                  <div class="small-box bg-yellow">
                    <div class="inner">
                      <h3><%= userCount%></h3>
                      <p>Users</p>
                    </div>
                    <div class="icon">
                      <i class="fa fa-users"></i>
                    </div>
                    <a href="/customer" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div><!-- ./col -->
                <div class="col-lg-3 col-xs-6" onclick="window.location.href = '/artist';" style="cursor: pointer;">
                  <!-- small box -->
                  <div class="small-box bg-red">
                    <div class="inner">
                      <h3><%= artistCount%></h3>
                      <p>Artist</p>
                    </div>
                    <div class="icon">
                      <i class="fa fa-users"></i>
                    </div>
                    <a href="/artist" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div><!-- ./col -->
                <div class="col-lg-3 col-xs-6" onclick="window.location.href = '/total_services';" style="cursor: pointer;">
                  <!-- small box -->
                  <div class="small-box bg-maroon">
                    <div class="inner">
                      <h3><%= totalOrder%>
                        <sup>%</sup>
                      </h3>
                      <p>Average order</p>
                    </div>
                    <div class="icon">
                      <i class="fa fa-shopping-cart"></i>
                    </div>
                    <a href="/total_services" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div><!-- ./col -->
            </div>
          </div>
          
           <div class="row GraphBlock">
             <div class="col-md-6">
                  <div class="box">
                    <div class="flexBlock">
                      <div class="graphTitle">
                        <h2>Users</h2>
                      </div>
                      <div class="graphFilter">
                        Filter 
                        <select class="form-control" id="uageFilter" onchange="user_gender_filter();">
                          <option value="">All</option>
                             <% for(i=1;i<=10;i++){ %>
                                <option value="<%= i!=1 ? (i-1)*10 : 1 %>-<%= i*10 %>"><%= i!=1 ? (i-1)*10 : 1 %> Year - <%= i*10 %> Year</option>
                            <% } %>
                        </select>
                      </div>
                    </div>
                       <div id="chart"></div>
                  </div>
               </div>
                <div class="col-md-6">
                  <div class="box">
                    <div class="flexBlock">
                      <div class="graphTitle">
                        <h2>Service Provider</h2>
                      </div>
                      <div class="graphFilter">
                         Filter
                        <select class="form-control" id="agender" onchange="service_gender_filter();">
                          <option value="">All</option>
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                        </select>
                        <select class="form-control" id="ageFilter" onchange="service_gender_filter();">
                          <option value="">All</option>
                             <% for(i=1;i<=10;i++){ %>
                                <option value="<%= i!=1 ? (i-1)*10 : 1 %>-<%= i*10 %>"><%= i!=1 ? (i-1)*10 : 1 %> Year - <%= i*10 %> Year</option>
                            <% } %>
                        </select>
                        
                      </div>
                    </div>
                       <div id="artistchart"></div>
                  </div>
               </div>

                <div class="col-md-6">
                  <div class="box">
                    <div class="flexBlock">
                      <div class="graphTitle">
                        <h2>Booking</h2>
                      </div>
                      <div class="graphFilter">
                        Filter
                         <select class="form-control" id="bgender" onchange="booking_gender_filter();">
                          <option value="">All</option>
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                        </select>
                         <select class="form-control" id="serviceFilter" onchange="booking_gender_filter();">
                          <option value="">All</option>
                              <% categorydata.forEach(function(rs) { %>
                                  <option value="<%= rs._id %>"><%= rs.title %></option>
                              <% }); %>
                        </select>
                      </div>
                    </div>
                       <div id="booking"></div>
                  </div>
               </div>

              <div class="col-md-6">
                  <div class="box">
                    <div class="flexBlock">
                      <div class="graphTitle">
                        <h2>App Downloads</h2>
                      </div>
                      <div class="graphFilter">
                        Filter
                         <select class="form-control" id="agender" onchange="gender_filter();">
                          <option value="">All</option>
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                        </select>
                        <select class="form-control" id="AageFilter" onchange="gender_filter();">
                          <option value="">All</option>
                             <% for(i=1;i<=10;i++){ %>
                                <option value="<%= i!=1 ? (i-1)*10 : 1 %>-<%= i*10 %>"><%= i!=1 ? (i-1)*10 : 1 %> Year - <%= i*10 %> Year</option>
                            <% } %>
                        </select>
                      </div>
                    </div>
                       <div id="downloadGraph"></div>
                  </div>
              </div>

              <div class="col-md-6">
                  <div class="box">
                    <div class="flexBlock">
                      <div class="graphTitle">
                        <h2>Device  Used</h2>
                      </div>
                      <div class="graphFilter">
                        Filter
                        <select class="form-control" id="gender" onchange="ajax_fun();">
                          <option value="">All</option>
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                        </select>
                        <select class="form-control" id="dageFilter" onchange="ajax_fun();">
                          <option value="">All</option>
                             <% for(i=1;i<=10;i++){ %>
                                <option value="<%= i!=1 ? (i-1)*10 : 1 %>-<%= i*10 %>"><%= i!=1 ? (i-1)*10 : 1 %> Year - <%= i*10 %> Year</option>
                            <% } %>
                        </select>
                      </div>
                    </div>
                       <div id="deviceGraph"></div>
                  </div>
              </div>

             </div>  


             </div>  
             

          </div><!-- /.row -->
          <!-- Main row -->
  

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
<input type="hidden" id="ggg" value="<%= (uGRaph); %>" name="">
<input type="hidden" id="sGRaph" value="<%= (sGRaph); %>" name="">
<input type="hidden" id="bGRaph" value="<%= (bGRaph); %>" name="">
<input type="hidden" id="bchart" value="<%= (bchart); %>" name="">
<input type="hidden" id="aGRaph" value="<%= (aGRaph); %>" name="">
<input type="hidden" id="dGRaph" value="<%= (dGRaph); %>" name="">
      

      <% include ./footer %> 
      <script type="text/javascript">

        uGRaph = JSON.parse($('#ggg').val());
        sGRaph = JSON.parse($('#sGRaph').val());
        bGRaph = JSON.parse($('#bGRaph').val());
        bchart = JSON.parse($('#bchart').val());
        aGRaph = JSON.parse($('#aGRaph').val());
        dGRaph = JSON.parse($('#dGRaph').val());
    </script>
    <script src="/admin/js/dx.all.js"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script> 
    <script src="/admin/js/index.js"></script>