<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Koobi | Invoice</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="/admin/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/admin/dist/css/AdminLTE.min.css">
    <link rel="icon" type="image/png" href="/admin/img/favicon.png" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body onload="window.print();">
  <%  

  user = rs[0].userDetail[0];
  artist = rs[0].artistDetail[0];
  rs = rs[0];
%>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Booking Details
      </h1>

    </section>

    <div class="pad margin no-print">
     
    </div>

    <!-- Main content -->
    <section class="invoice">
      <!-- title row -->
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-globe"></i>
            <small class="pull-right">Date: <%= moment(rs.crd).format("DD/MM/YYYY") %></small>
          </h2>
        </div>
        <!-- /.col -->
      </div>
      <!-- info row -->
      <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
          From
          <address>
            <strong><%= user.userName %></strong><br>
            Phone: <%= user.contactNo %><br>
            Email: <%= user.email %>
          </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
          To
          <address>
            <strong><%= artist.userName %></strong><br>
            Phone: <%= artist.contactNo %><br>
            Email: <%= artist.email %>
          </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
          <b>Invoice #<%= rs._id %></b><br>
          <br>
          <b>Location:</b> <%= rs.location %><br>
         <% if(rs.transjectionId) { %>  <b>Transaction ID:</b> <%= rs.transjectionId %><br><% } %>
          <b>Service Type:</b> <%= (rs.bookingData[0].serviceType==1) ? 'In call' : 'Out call' %><br>
          <b>Booking Date/Time:</b> <%= moment(rs.bookingDate).format("DD/MM/YYYY")+", "+rs.bookingTime;%><br>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12 table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>#</th>
              <th>Services</th>
              <th>Booking Date/Time</th>
              <th>Staff</th>
              <th>Subtotal</th>
            </tr>
            </thead>
            <tbody>
            <%
            i=1;
          	bookingList = rs.bookingData;
           	bookingList.forEach(function(brs) { 
	            artistServicesData.forEach(function(ars) { 
		            if(ars._id==brs.artistServiceId){
		            var bookingDate = moment(brs.bookingDate).format("DD/MM/YYYY")+", "+brs.startTime;
           %>
            <tr>
              <td><%= i%></td>
              <td><%= ars.title %> </td>
              <td><%= bookingDate %></td>
                 <td><% 
                    staffaId = rs.bookingData[0].staff; 
                    if(staffaId){
                        my.forEach(function(srs) {
                       console.log(srs.artistId);
                       console.log(staffaId);
                            if(staffaId==srs.artistId){
                        %>
                       <%= srs.staffInfo.userName %>

                        <% }}); }else{%>
                     <%= rs.artistDetail[0].userName %>     
                    <% } %>
                 </td>
              <td>&#163;<%= Number(brs.bookingPrice).toFixed(2) %></td>
            </tr>
        	<% i++; } }); }); %>
            </tbody>
          </table>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-xs-6">
          <p><span class="lead"> Payment Methods:</span> <span><%=(rs.paymentType==2) ? 'Online' : 'Cash' %></span></p>

        </div>
        <!-- /.col -->
        <div class="col-xs-6">

          <div class="table-responsive">
            <table class="table">
              <tbody><tr>
                <th style="width:50%">Subtotal:</th>
                <td>&#163;<%= Number(rs.totalPrice).toFixed(2) %></td>
              </tr>
              <tr>
                <th>Discount</th>
                <td>&#163;0.00</td>
              </tr>
       
              <tr>
                <th>Total:</th>
                <td>&#163;<%= Number(rs.totalPrice).toFixed(2) %></td>
              </tr>
            </tbody></table>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

            <div class="row">
        <div class="col-xs-12 table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>#</th>
              <th>Services</th>
              <th>Booking Date/Time</th>
              <th>Staff</th>
              <th>Subtotal</th>
            </tr>
            </thead>
            <tbody>
            <%
            i=1;
            bookingList = rs.bookingData;
            bookingList.forEach(function(brs) { 
              artistServicesData.forEach(function(ars) { 
                if(ars._id==brs.artistServiceId){
                var bookingDate = moment(brs.bookingDate).format("DD/MM/YYYY")+", "+brs.startTime;
           %>
            <tr>
              <td><%= i%></td>
              <td><%= ars.title %> </td>
              <td><%= bookingDate %></td>
                 <td><% 
                    staffaId = rs.bookingData[0].staff; 
                    if(staffaId){
                        my.forEach(function(srs) {
                       console.log(srs.artistId);
                       console.log(staffaId);
                            if(staffaId==srs.artistId){
                        %>
                       <%= srs.staffInfo.userName %>

                        <% }}); }else{%>
                     <%= rs.artistDetail[0].userName %>     
                    <% } %>
                 </td>
              <td>&#163;<%= Number(brs.bookingPrice).toFixed(2) %></td>
            </tr>
          <% i++; } }); }); %>
            </tbody>
          </table>
        </div>
        <!-- /.col -->
      </div>

      <!-- this row will not appear when printing -->
      <div class="row no-print">
        <div class="col-xs-12">
          <a href="/invoice_print/<%= cryptr.encrypt(rs._id) %>" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a>
         
        </div>
      </div>
    </section>
    <!-- /.content -->
    <div class="clearfix"></div>
  </div>
    <!-- AdminLTE App -->
    <script src="/admin/dist/js/app.min.js"></script>
  </body>
</html>

