<% include ./header %> 
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
     
        
    </section>
    <!-- Main content -->
    <section class="content">
        
        <div class="row">
            <div class="col-xs-12">
                <% if (error.length > 0) { %>
                <div class="alert alert-danger"><%- error %></div>
                <% } %>

                 <% if (success.length > 0) { %>
                <div class="alert alert-success"><%- success %></div>
                <% } %>
                <div class="box">
                    <div class="box-header">
                         <h3 class="box-title">Booking Report List</h3>
                        
                    </div><!-- /.box-header -->
                    <div id="ajaxdata">                            
                    </div>
                </div><!-- /.box -->
            </div>
        </div>
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

     <% include ./footer %> 



<script type="text/javascript">


ajax_fun('1');

function ajax_fun(e)

{
   $.ajax({

        url: '/listReport',
        type: "GET", 
        data:{'page':e} ,  
        cache: false,
        beforeSend: function() {
            $("#ajaxdata").html('<div class="overlay" style="padding-top:150px"><i class="fa fa-refresh fa-spin"></i></div>');
        },  
        success: function(data){

           $("#ajaxdata").html(data);


        }

    });

   

}

</script>


