 <div class="box-body table-responsive no-padding" id="ajaxdata">    <table class="table table-hover">
                            <tr>
                                <th>ID</th>
                                <th>Profile Image</th>
                                <th><%= ((businessType=="business") ? 'Artist' : 'Company' ); %></th>
                                <th>Job</th>
                                <th>Action</th>
                            </tr>

                            <%   var startTime = (Number(currentPage)-1)*10;
                             i=1+startTime;
                            if(staff.length>0){
                            staff.forEach(function(rs) { %>
                            <tr>
                                <td><%= i %></td>
                                <td> <a href="/artistview/<%=  cryptr.encrypt((businessType=="business") ? rs.artistId : rs.businessId ); %>" target="_self">
                                    <img src="<%= rs.staffInfo.profileImage %>" class="img-circle" width="60" height="60"  alt="<%= rs.staffInfo.userName %>" title="<%= rs.staffInfo.userName %>">
                                  </a>
                                </td>
                                <td> <a href="/artistview/<%= cryptr.encrypt((businessType=="business") ? rs.artistId : rs.businessId ); %>" class="black"><%= (businessType=="business") ? rs.staffInfo.userName : rs.staffInfo.businessName ;   %> </a>
                                </td>

                                <td><span class="label label-primary"><%= rs.job %></span></td>   
                                <td><a href="/staffview/<%= cryptr.encrypt(rs._id) %>/<%= cryptr.encrypt(businessType) %>" class="btn artist-btn btn-warning" title="view"><span class="fa fa-eye"></span></a> </td>                           
                            </tr>
                            <% i++;}); }else{ %>

                             <tr><td colspan="4" align="center"><b>No record found</b></td></tr>

                            <% } %>
                          
                        </table>


    </div><!-- /.box-body -->


                        <% if (pageCount > 1) { %>
            <ul class="pagination">
                <% if (currentPage > 1) { %>

                    <li><a href="#" onclick="staff_list(1);">&laquo;</a></li>
                    <li><a href="#" onclick="staff_list('<%= currentPage-1 %>');">&#8249;</a></li>

                <% } %>
                <% var i = 1;
                if (currentPage > 5) {
                    i = +currentPage - 4;
                } %>
                <% if (i !== 1) { %>
                    <li class="disabled"><a href="#">...</a></li>
                <% } %>
                <% for (i; i<=pageCount; i++) { %>
                    <% if (currentPage == i) { %>
                        <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
                    <% } else { %>
                        <li><a href="#" onclick="staff_list('<%= i %>');"><%= i %></a></li>
                    <% } %>
                    <% if (i == (+currentPage + 4)) { %>
                        <li class="disabled"><a href="#">...</a></li>
                    <% break; } %>
                <% } %>
                <% if (currentPage != pageCount) { %>
                    <li><a href="#" onclick="staff_list('<%= currentPage+1 %>');">&#8250;</a></li>
                    <li><a href="#" onclick="staff_list('<%= i %>');">&raquo;</a></li>
                <% } %>
            </ul>
        <% } %>

    