<% include ./header %> 
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        
        <div class="row">
            <div class="col-xs-12">
                <% if (error.length > 0) { %>
                <div class="alert alert-danger"><%- error %></div>
                <% } %>

                 <% if (success.length > 0) { %>
                <div class="alert alert-success"><%- success %></div>
                <% } %>
                <div class="box BoxTools">
                    <div class="box-header Boxheader">
                        <h3 class="box-title BoxTitle">Category list</h3>
                        
                        <div class="BoxTools">

                            <div class="input-group">
                                <select class="form-control form-title" id="business_type" onchange="ajax_fun('1');">
                                    <option value=""> Select Business Type </option>
                                    <% categorydata.forEach(function(rs) { %>
                                        <option value="<%= rs._id %>"><%= rs.title %></option>
                                    <% }); %>
                                </select>
                            </div>
                            <div class="input-group">
                                <select class="form-control form-title" id="status" onchange="ajax_fun('1');">
                                    <option value=""> Select Status </option>
                                    <option value="1">Pending</option>
                                    <option value="2">Approved</option>
                                </select>
                            </div>

                            <div class="input-group">
                                <select class="form-control form-title" id="creator" onchange="ajax_fun('1');">
                                    <option value=""> Select Creator </option>
                                    <option value="1">Admin</option>
                                    <option value="2">User</option>
                                </select>
                            </div>


                            <div class="input-group"">
                                <input type="text" id="search" name="table_search" class="form-control" placeholder="Search" onkeyup="ajax_fun('1');">
                          
                            </div>
                        </div>
                    </div><!-- /.box-header -->
                    <div id="ajaxdata">                            
                    </div>
                </div><!-- /.box -->
            </div>
        </div>
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

     <% include ./footer %> 

       <script type="text/javascript">

ajax_fun('1');

function ajax_fun(e)

{
   $.ajax({

        url: '/subcategoryList',
        type: "GET", 
        data:{'search':$('#search').val(),'page':e,'creator':$("#creator").val(),'status':$("#status").val(),'business_type':$("#business_type").val()} ,                 
        cache: false,
        beforeSend: function() {
            $("#ajaxdata").html('<div class="overlay" style="padding-top:150px"><i class="fa fa-refresh fa-spin"></i></div>');
        }, 
        success: function(data){

            $("#ajaxdata").html(data);

        }

    });

   

}

</script>


