 <div class="box-body table-responsive no-padding" id="ajaxdata">  
 <table class="table table-hover">
                            <tr>
                                <th>S.no</th>
                                <th>Report By User</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Report For User</th>
                                <th>Date/Time</th>
                            </tr>

                            <%  
                              var startTime = (Number(currentPage)-1)*10;
                             i=1+startTime;
                             if(categorydata){

                             categorydata.forEach(function(rs) {
                              %>
                            <tr>
                                <td><%= i %></td>

                                <td><img src="<%= rs.byUser[0].profileImage %>" class="img-circle" alt="<%= rs.byUser[0].userName %>" title="<%= rs.byUser[0].userName%>" width="60" height="60"> &nbsp;&nbsp;<%= rs.byUser[0].userName %></td>
                                <td><%= rs.title %></td>
                                <td><%= rs.description %></td>
                                <td><img src="<%= rs.forUser[0].profileImage %>" class="img-circle" alt="<%= rs.forUser[0].userName %>" title="<%= rs.forUser[0].userName%>" width="60" height="60"> &nbsp;&nbsp;<%= rs.forUser[0].userName %></td>
                                <td><%= moment(rs.crd).format("DD/MM/YYYY, hh:mm A") %></td>
                            </tr>
                            <% i++;});}else{ %>
                             <tr><td colspan="8" align="center"><b>No record found</b></td></tr>

                            <% } %>
                          
                        </table>


    </div><!-- /.box-body -->


                        <% if (pageCount > 1) { %>
            <ul class="pagination">
                <% if (currentPage > 1) { %>

                    <li><a href="#" onclick="ajax_fun(1);">&laquo;</a></li>
                    <li><a href="#" onclick="ajax_fun('<%= currentPage-1 %>');">&#8249;</a></li>

                <% } %>
                <% var i = 1;
                if (currentPage > 5) {
                    i = +currentPage - 4;
                } %>
                <% if (i !== 1) { %>
                    <li class="disabled"><a href="#">...</a></li>
                <% } %>
                <% for (i; i<=pageCount; i++) { %>
                    <% if (currentPage == i) { %>
                        <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
                    <% } else { %>
                        <li><a href="#" onclick="ajax_fun('<%= i %>');"><%= i %></a></li>
                    <% } %>
                    <% if (i == (+currentPage + 4)) { %>
                        <li class="disabled"><a href="#">...</a></li>
                    <% break; } %>
                <% } %>
                <% if (currentPage != pageCount) { %>
                    <li><a href="#" onclick="ajax_fun('<%= currentPage+1 %>');">&#8250;</a></li>
                    <li><a href="#" onclick="ajax_fun('<%= i-1 %>');">&raquo;</a></li>
                <% } %>
            </ul>
        <% } %>

    