 <div class="box-body table-responsive no-padding" id="ajaxdata">    <table class="table table-hover">
                            <tr>
                                <th>ID</th>
                                <th>Voucher Code</th>
                                <th>Discount Type</th>
                                <th>Amount</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Action</th>
                            </tr>
                            <%   var startTime = (Number(currentPage)-1)*10;
                            if(voucher.length>0){
                            i=1;
                            voucher.forEach(function(rs) { 
                            %>
                                <tr>
                                    <td><%= i %></td>
                                    <td><%= rs.voucherCode %></td>
                                    <td><%= rs.discountType %></td>
                                    <td><%= rs.amount %></td>
                                    <td><%= rs.startDate %></td>
                                    <td><%= rs.endDate %></td>
                                    <td>
                                    <% if(rs.status==1){  %>

                                        <a href="/voucherStatus/<%= cryptr.encrypt(rs._id) %>/<%= cryptr.encrypt(0) %>/<%= cryptr.encrypt(rs.artistId) %>" class="btn btn-info" title="Inactive"  onclick="$(this).attr('disabled','true');"><span class="glyphicon glyphicon-remove"></span></a>

                                    <% }else{ %>

                                        <a href="/voucherStatus/<%= cryptr.encrypt(rs._id) %>/<%= cryptr.encrypt(1) %>/<%= cryptr.encrypt(rs.artistId) %>" class="btn btn-info" title="Active"  onclick="$(this).attr('disabled','true');"><span class="glyphicon glyphicon-ok"></span></a>

                                    <% } %>
                                      <!-- <a href="/categoryDelete/<%= cryptr.encrypt(rs._id) %>" class="btn btn-danger" title="Delete" onclick="return confirm('Are you sure , you want to delete this?');
                                    "><span class="glyphicon glyphicon-trash"></span></a> -->
                                    </td>                           
                                </tr>
                            <% i++;}); }else{ %>

                                <tr><td colspan="7" align="center"><b>No record found</b></td></tr>

                            <% } %>
                          
                        </table>


    </div><!-- /.box-body -->


                        <% if (pageCount > 1) { %>
            <ul class="pagination">
                <% if (currentPage > 1) { %>

                    <li><a href="#" onclick="voucher_list(1);">&laquo;</a></li>
                    <li><a href="#" onclick="voucher_list('<%= currentPage-1 %>');">&#8249;</a></li>

                <% } %>
                <% var i = 1;
                if (currentPage > 5) {
                    i = +currentPage - 4;
                } %>
                <% if (i !== 1) { %>
                    <li class="disabled"><a href="#">...</a></li>
                <% } %>
                <% for (i; i<=pageCount; i++) { %>
                    <% if (currentPage == i) { %>
                        <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
                    <% } else { %>
                        <li><a href="#" onclick="voucher_list('<%= i %>');"><%= i %></a></li>
                    <% } %>
                    <% if (i == (+currentPage + 4)) { %>
                        <li class="disabled"><a href="#">...</a></li>
                    <% break; } %>
                <% } %>
                <% if (currentPage != pageCount) { %>
                    <li><a href="#" onclick="voucher_list('<%= currentPage+1 %>');">&#8250;</a></li>
                    <li><a href="#" onclick="voucher_list('<%= i %>');">&raquo;</a></li>
                <% } %>
            </ul>
        <% } %>

    