@media only screen and (max-width:1200px) {}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {}

@media only screen and (max-width: 1024px) and (min-width: 768px) {}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {}

@media only screen and (max-width: 991.98px) {
.bannerCntBlk {
    width: 100%;
}
.navbar-dark .navbar-nav.mainMenu li a.nav-link {
    font-size: 15px;
}
.nav-item.navLink {
    width: 150px;
}
/*.mainMenu {
    display: none !important;
}*/
}

@media only screen and (min-width: 992px) {}

@media screen and (min-width: 767.98px) and (max-width: 991.98px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (max-width: 767.98px) {
.mainHeader {
    margin-top: 62px;
}
.navbar-nav.ml-auto.mainMenu li {
    width: 100%;
}
.navbar-nav.ml-auto.mainMenu {
    text-align: center;
    margin-top: 25px;
}
.nav-item.signUpBtn {
    margin-left: 0;
}
.bannerCntBlk {
    display: block;
}
.bannerCnt {
    width: 100%;
    margin-bottom: 20px;
}
.featrsItem {
    margin-bottom: 50px;
}
.bannerCnt h1 {
    font-size: 30px;
}
.secHead h2 {
    font-size: 26px;
}
.mainMenu {
    border-top: 1px solid #ddd;
    margin-top: 10px;
}
.nav-item {
    text-align: left;
}
.nav-item a{
    font-size: 18px !important;
}
.bannerCntBlk {
    text-align: center;
}
.storeImg {
    justify-content: center;
}
.bannerImg {
    margin: 0 auto;
}
.navbar-toggler{
    display: none;
}
.navbar .mobileMenu {
    display: none !important;
}
.mobileMenuView {
    display: block;
}
.nav-item.navLink {
    width: 100%;
}
.navbar-dark .mobileMenuLink .navbar-nav.mainMenu li a.nav-link {
    font-size: 45px !important;
}
}

@media only screen and (min-width: 641px) and (max-width: 767.98px) {}

@media only screen and (max-width: 640.98px) {}

@media only screen and (max-width: 575.98px) {}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    .mobileMenuLink .container{
        padding: 0;
    }
}

@media only screen and (max-width: 500px) {}

@media only screen and (max-width:479px) {}

@media only screen and (max-width: 375.98px) {}

@media only screen and (max-width: 359px) {}

@media screen and (min-width:640px) and (max-width:767px){}