/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
}


/*thin 100 thin 100 Italic extra-light 200 extra-light 200 Italic light 300 light 300 Italic regular 400 regular 400 Italic medium 500 medium 500 Italic semi-bold 600 semi-bold 600 Italic bold 700 bold 700 Italic extra-bold 800 extra-bold 800 Italic black 900 black 900 Italic*/
body {
    font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Nunito', sans-serif;
    font-weight: 600 !important;
/*    font-family: 'mission_gothicbold';
    font-weight: 700 !important;*/
}

a,
a:focus,
a:hover {
    text-decoration: none;
    outline: 0;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
}

.transition,
.transition:hover,
button,
button:hover {
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
}

input,
input:focus,
input:hover,
button,
button:focus,
button:hover,
select,
select:focus,
select:hover,
option,
option:focus,
option:hover {
    outline: 0;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

.btn.focus,
.btn:focus {
    box-shadow: none;
}

.m-0 {
    margin: 0;
}

.mt-0 {
    margin-top: 0;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-45 {
    margin-top: 45px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mr-0 {
    margin-right: 0;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-25 {
    margin-right: 25px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-35 {
    margin-right: 35px;
}

.mr-40 {
    margin-right: 40px;
}

.mr-45 {
    margin-right: 45px;
}

.mr-50 {
    margin-right: 50px;
}

.ml-0 {
    margin-left: 0;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-25 {
    margin-left: 25px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-35 {
    margin-left: 35px;
}

.ml-40 {
    margin-left: 40px;
}

.ml-45 {
    margin-left: 45px;
}

.ml-50 {
    margin-left: 50px;
}

.p-0 {
    padding: 0;
}

.pt-0 {
    padding-top: 0;
}

.pr-0 {
    padding-top: 0;
}

.pl-0 {
    padding-top: 0;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-35 {
    padding-top: 35px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-45 {
    padding-top: 45px;
}

.pt-50 {
    padding-top: 50px;
}

.pb-0 {
    padding-bottom: 0;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-35 {
    padding-bottom: 35px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-45 {
    padding-bottom: 45px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pr-0 {
    padding-right: 0;
}

.pr-10 {
    padding-right: 10px;
}

.pr-15 {
    padding-right: 15px;
}

.pr-20 {
    padding-right: 20px;
}

.pr-25 {
    padding-right: 25px;
}

.pr-30 {
    padding-right: 30px;
}

.pr-35 {
    padding-right: 35px;
}

.pr-40 {
    padding-right: 40px;
}

.pr-45 {
    padding-right: 45px;
}

.pr-50 {
    padding-right: 50px;
}

.pl-0 {
    padding-left: 0;
}

.pl-10 {
    padding-left: 10px;
}

.pl-15 {
    padding-left: 15px;
}

.pl-20 {
    padding-left: 20px;
}

.pl-25 {
    padding-left: 25px;
}

.pl-30 {
    padding-left: 30px;
}

.pl-35 {
    padding-left: 35px;
}

.pl-40 {
    padding-left: 40px;
}

.pl-45 {
    padding-left: 45px;
}

.pl-50 {
    padding-left: 50px;
}

.sec-pad-t-50 {
    padding-top: 50px;
}

.sec-pad-b-50 {
    padding-bottom: 50px;
}

.sec-pad-20 {
    padding: 20px 0;
}

.sec-pad-30 {
    padding: 30px 0;
}

.sec-pad-40 {
    padding: 40px 0;
}

.sec-pad-50 {
    padding: 50px 0;
}

.sec-pad-60 {
    padding: 60px 0;
}

.sec-pad-70 {
    padding: 70px 0;
}

.sec-pad-80 {
    padding: 80px 0;
}

.btn-block {
    width: 100%;
}

.display-none {
    display: none;
}

.display-in-block {
    display: inline-block;
}

.display-inline {
    display: inline;
}

.gray-bg {
    background: #fdfdfd;
}

.darkgray-bg {
    background: #f8f8f8;
}

.bg-white {
    background-color: #FFF;
}

.light-bg {
    background-color: #fafafa;
}

.gradient-bg-t {
    background: linear-gradient(to right, #d63d24, #f28521) !important;
    background: -webkit-linear-gradient(to right, #d63d24, #f28521) !important;
    background: -moz-linear-gradient(to right, #d63d24, #f28521) !important;
}

.paraText {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 10px;
}

.paraText-gray {
    color: #808080;
}

.paraText-white {
    color: #ffffff;
}
.btn.btnTheme_w {
    background: #fff;
    font-size: 20px;
    color: #40a6a7;
    font-weight: 500;
    padding: 12px 15px;
    border: 3px solid #cfe9e9;
    border-radius: 150px;
}
.mainHeader {
    margin-top: 90px;
}
.navbar-brand {
    position: relative;
}
.mainHeader .navbar-brand img {
    width: 100%;
    max-width: 100px;
}
.mainHeader .navbar.bg-dark {
    background-color: #fff !important;
    /*box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);*/
    padding: 10px 15px;
}
.mainHeader .navbar.bg-dark.navbarFixed {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}
.mainMenu {
    align-items: center;
}
.navbar-dark .navbar-nav.mainMenu li a.nav-link {
    font-size: 16px;
    color: #4D4D4D;
    font-weight: 400;
}
.signUpBtn a{
  border: 3px solid #cfe9e9;
  border-radius: 150px;
  background-color: #1bd3c9;
  display: inline-block;
  /*height: 45px;*/
  /*line-height: 45px !important;*/
    padding: 10px 20px !important;
    color: #fff !important;
}
.navLink a {
    color: #1bd3c9 !important;
    font-weight: 700 !important;
}
.nav-item.signUpBtn {
    margin-left: 22px;
}

.bannerSocial{
    background: url("../images/banner3.png");
}
.bannerSec{
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
}
.bannerCntBlk {
    display: flex;
    width: 70%;
    align-items: center;
}

.bannerCnt h1 {
    font-weight: 800 !important;
    color: #fff;
    font-size: 38px;
}

.bannerCnt {
    width: 60%;
    margin-right: 30px;
}
.bannerCnt p {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}
.storeImg img {
    width: 100%;
    max-width: 180px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.storeImg {
    display: flex;
    flex-wrap: wrap;
}
.bannerImg img {
    width: 194px;
}
.bannerImg {
    width: 40%;
}
/*.single_screen_slide {
    background: rgba(0, 0, 0, 0) url(../images/screen/phone.png) no-repeat scroll center center;
    padding: 50px 64px 50px 65px;
    background-size: 65%;
}*/
/*.mobile-slider {
    overflow: hidden;
    position: absolute;
    left: 8px;
    top: 39px;
    width: 180px;
}*/
.mobile-slider {
     border-radius: 15px; 
    overflow: hidden;
    position: absolute;
    left: 14px;
    top: 28px;
    width: 166px;
}
.aboutItem {
    margin-bottom: 30px;
}
.bannerImg {
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 9;
}

/*.home_screen_slide.mobile-slider img {
    width: 179px;
}*/

.home_screen_slide.mobile-slider img {
    width: 166px;
    border-radius: 15px;
}

.secHead{
    margin-bottom: 50px;
}
.secHead h2 {
    color: #4D4D4D;
    font-size: 30px;
    position: relative;
    max-width: 600px;
    margin: 0 auto;
}
.secHead h2 span {
    font-weight: 800;
    color: #1bd3c9;
}
.secHead h2:after {
    content: "";
    background: #1bd3c9;
    width: 90px;
    height: 7px;
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.secHead p {
    margin: 25px auto 0px auto;
    width: 60%;
    color: #4d4d4d;
    font-size: 15px;
    line-height: 26px;
}

.aboutIcon span {
    display: inline-block;
    width: 70px;
    height: 70px;
    background: #1bd3c9;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    margin: 0 auto;
}
.aboutIcon span img{
    width: 35px;
}
.aboutIcon {
    margin-bottom: 10px;
    text-align: center;
}
.aboutItem h3 {
    font-weight: 700 !important;
    color: #4d4d4d;
    font-size: 20px;
    text-align: center;
    width: 100%;
    /*max-width: 200px;*/
    margin: 0 auto;
}
/*.becomeAmbass .aboutIcon {
    text-align: left;
}
.becomeAmbass .aboutItem h3 {
    text-align: left;
}*/
.featuresSec .aboutIcon {
    text-align: left;
}
.featuresSec .aboutItem h3 {
    text-align: left;
}
.featuresSec .aboutItem p {
    text-align: left;
    font-size: 16px;
    line-height: 28px;
}
.aboutItem p {
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
}
.aboutInfo{
    margin-top: 70px;
}

.aboutPara {
    text-align: center;
    width: 100%;
    max-width: 850px;
    font-size: 18px;
    color: #333;
    margin: 40px auto 0;
    line-height: 30px;
}
.socialAboutUs{
        text-align: left;
    width: 100%;
    /*max-width: 850px;*/
    font-size: 16px;
    color: #333;
    margin: 40px auto 0;
    line-height: 28px;
}
.aboutPara p {
    margin-bottom: 0px;
}
.socialAboutUs p {
    margin-bottom: 20px;
}

/*.featuresSec{
    padding-top: 20px;
}*/
.featuresImg {
    text-align: center;
    margin-top: -10px;
}

.featuresImg img {
    width: 100%;
    max-width: 400px;
    /*max-width: 480px;*/
    margin: 0 auto;
    text-align: center;
}
.featuresBlock{
    margin-top: 70px;
}
.featrsItem .aboutIcon span {
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
}
.featrsItem .aboutIcon span img {
    width: 100%;
    max-width: 35px;
}
.featrsItem .aboutItem {
    margin-bottom: 30px;
}
.featrsItem {
    margin-bottom: 60px;
}
.featrsItem:last-child {
    margin-bottom: 0px;
}


.owl-carouselNew .owl-stage .owl-item .item img {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}
.owl-carouselNew .item img{
    border: 2px solid #f8f8f8;
    border-radius: 8px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    padding: 5px;
}
.owl-carouselNew .active.center .item img{
    border: 2px solid #1bd3c9;
    border-radius: 8px;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

.owl-carouselNew .owl-nav .owl-prev, .owl-carouselNew .owl-nav .owl-next {
    border: 1px solid !important;
    border-radius: 100%;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0);
    color: #1bd3c9 !important;
    height: 40px;
    left: 0;
    line-height: 3;
    margin: 0 5px;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 40px;
    z-index: 9;
}
.owl-carouselNew .owl-nav .owl-next {
    left: auto;
    right: 0;
}
.owl-carouselNew .owl-nav .owl-prev:hover, .owl-carouselNew .owl-nav .owl-next:hover {
    background-color: #1bd3c9 !important;
    border-color: #1bd3c9 !important;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.1);
    color: #ffffff !important;
}

.footerSec {
    background: #4d4d4d;
    padding: 15px 0;
}
.copyright p {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}
.copyright p a {
    color: #1bd3c9;
}

.social-menu a img {
    width: 100%;
    max-width: 35px;
    margin-left: 5px;
}

.contactBlock h3 {
    font-size: 18px;
}


/*.bannerImg img {
    width: 180px !important;
}
*/


/*Koobi Biz Css*/

.bannerBiz{
    /*background: url("../images/banner_biz.png");*/
    background: url("../images/banner4.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.bannerCnt.bizCnt h1 {
    /*font-size: 50px;*/
    color: #1bd3c9;
}
.bannerCnt.bizCnt p span {
    color: #1bd3c9;
}
.aboutPara p span{
    color: #1bd3c9;
}
.bizAbout .aboutPara{
    margin-bottom: 40px;
    margin-top: 20px;
}
.bizTheme .aboutIcon span {
    background: #444343;
}
/*.becomeAmbass .aboutItem {
    display: flex;
    align-items: center;
}*/
/*.becomeAmbass .aboutItem h3 {
    max-width: 100%;
    font-size: 18px;
}*/
.koobiAmbassador .aboutItem h3 span {
    font-weight: 400;
    display: block;
    font-size: 18px;
}
.becomeAmbass .bizAbout .aboutPara {
    font-size: 16px;
    color: #828282;
}
.navbar-toggler {
    background: #1bd3c9;
    width: 40px;
    height: 40px;
    padding: 0;
}




.mobileMenuLink {
    position: absolute;
    left: 0;
    width: 100%;
    top: 112px;
    background: #fff;
    text-align: left;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}
.mobileMenuLink .mainMenu {
    display: inline-block !important;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto !important;
}
.menuOpenBtn {
    background: #444343;
    width: 60px;
    height: 60px;
    padding: 0;
    border: none;
    border-radius: 5px;
    /*line-height: 60px;*/
}
.menuOpenBtn.socialBtn{
    background: #1bd3c9;
}
.mobileMenuView {
    display: none;
    width: 100%;
    text-align: right;
}
#mobileMenuShow{
    display: none;
}
.mobileMenuLink .navbar-nav.mainMenu li a.nav-link{
    font-size: 42px !important;
}
.navLinkNew a {
    color: #1bd3c9 !important;
    font-weight: 700 !important;
}
.mainHeader .navbar-brand.mobileLogo img {
    width: 100%;
    max-width: 180px;
}
.menuOpenBtn span {
    color: #fff;
    font-size: 34px;
}


.featuresList li {
    margin-bottom: 8px;
}

.featuresList {
    list-style: disc;
    list-style-position: outside;
    font-size: 17px;
    margin-top: 10px;
    text-align: left;
    line-height: 28px;
}

/*.morecontent span {
    display: none;
}
.morelink, .morelink:hover  {
    font-weight: 600;
    color: #1bd3c9;
}*/