
<!DOCTYPE html>
<html>
<head>
    <title>Koobi</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="padding: 0; margin: 0; font-family: 'Open Sans', sans-serif;">
    <div class="Frame" style="width: 100%; max-width: 650px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; background: #f2f2f2; text-align: center; padding: 20px 30px; margin: 0 auto;">
        <table style="background: #fff; border-top: 6px solid #1bd3c9;" width="100%" border="0" align="center" cellspacing="0" cellpadding="0">
            <tr>
                <td style="padding-top: 20px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;">
                    <div class="logo">
<!--                         <img src="<%= baseUrl  %>/front/img/email/logo.png">
 -->                    </div>
                </td>
            </tr>
        </table>
        <div style="background: #fff; padding: 50px 0 30px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;">
            <table width="100%" border="0" align="center" cellspacing="0" cellpadding="0" style="padding-bottom: 25px;">
                <tr>
                    <td style="padding-left: 20px; padding-right: 10px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;">
                        <table width="100%" border="0" align="center" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                   <!--  <img style="width: 100%; max-width: 100px;" src="<%= baseUrl  %>/front/img/email/lock.png"> -->
                                    <h2 style="margin: 10px 0 0 0; font-size: 30px; color: #333;">Forgotten Password</h2>
                                    <p style="margin: 8px auto;font-size: 16px;color: #828282;width: 100%;max-width: 330px;font-weight: 600;">  <h2 style="font-size: 20px; color: #828282;">User Name : <%= userName  %></h2></p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table width="100%" border="0" align="center" cellspacing="0" cellpadding="0" style="padding-bottom: 25px;">
                <tr>
                    <td style="padding-left: 20px; padding-right: 10px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;">
                        <table width="100%" border="0" align="center" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
<!--                                     <h2 style="margin: 0; font-size: 20px; color: #333;">Reset Your Password</h2>
 -->                                    <a style="margin: 15px auto;font-size: 16px;font-weight: 600;display: inline-block;background: #1bd3c9;padding: 10px 20px;border-radius: 50px;color: #fff;" href="<%= link  %>">Reset Password</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table width="100%" border="0" align="center" cellspacing="0" cellpadding="0">
                 <tr>
                    <td>
                        <p style="color: #828282; margin: 0;">For more information visit our website </p>
                        <a style="color: #111; text-decoration: none; font-weight: 600;" href="<%= baseUrl  %>">www.koobi.co.uk</a>
                    </td>
                </tr>
            </table>
        </div>
        <div style="background: #232323;">
            <table width="100%" border="0" align="center" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <table width="100%" border="0" align="center" cellspacing="0" cellpadding="0">
                            <tr>
                                <td style="padding: 30px 20px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;">
                                    <!-- <div style="display: inline-block; width: 100%; margin-bottom: 10px;">
                                        <a style="margin: 0 3px;" href=""><img src="http://design.mindiii.com/gourav/emailTemplate/kinklink/facebook-bottom.png"></a>
                                        <a style="margin: 0 3px;" href=""><img src="http://design.mindiii.com/gourav/emailTemplate/kinklink/twitter-bottom.png"></a>
                                        <a style="margin: 0 3px;" href=""><img src="http://design.mindiii.com/gourav/emailTemplate/kinklink/googleplus-bottom.png"></a>
                                        <a style="margin: 0 3px;" href=""><img src="http://design.mindiii.com/gourav/emailTemplate/kinklink/pinterest-bottom.png"></a>
                                    </div> -->
                                    <p style="color: #fff; margin: 0 0 5px 0; font-size: 13px;"> © 2020-21 <a style="color: #1bd3c9; text-decoration: none;" href="<%= link  %>">koobi</a>. All rights reserved.</p>
                                    <!-- <p style="color: #fff; margin: 0; font-size: 13px;"><a style="color: #fff;" href="">4433 W Sunset Blvd. Los Angeles. CA 90022 </a> / Phone:  <a style="color: #1bd3c9; text-decoration: none;" href="">(323) 677-0088</a> -->
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>